@font-face {
  font-family: 'PTRoubleSans';
  src: url(../fonts/PTRoubleSans.eot);
  src: url(../fonts/PTRoubleSans.eot?#iefix) format("embedded-opentype"),
  url(../fonts/PTRoubleSans.svg) format("svg"),
  url(../fonts/PTRoubleSans.woff) format("woff"),
  url(../fonts/PTRoubleSans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans-regular.eot);
  src: url(../fonts/opensans-regular.eot?#iefix) format("embedded-opentype"),
       url(../fonts/opensans-regular.svg) format("svg"),
       url(../fonts/opensans-regular.woff) format("woff"),
       url(../fonts/opensans-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(../fonts/opensans-light.eot);
  src: url(../fonts/opensans-light.eot?#iefix) format("embedded-opentype"),
       url(../fonts/opensans-light.svg) format("svg"),
       url(../fonts/opensans-light.woff) format("woff"),
       url(../fonts/opensans-light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light Italic';
  src: url(../fonts/opensans-lightitalic.eot);
  src: url(../fonts/opensans-lightitalic.eot?#iefix) format("embedded-opentype"),
       url(../fonts/opensans-lightitalic.svg) format("svg"),
       url(../fonts/opensans-lightitalic.woff) format("woff"),
       url(../fonts/opensans-lightitalic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed Light';
  src: url(../fonts/open_sans_condensed_light.eot);
  src: url(../fonts/open_sans_condensed_light.eot?#iefix) format("embedded-opentype"),
       url(../fonts/open_sans_condensed_light.svg) format("svg"),
       url(../fonts/open_sans_condensed_light.woff) format("woff"),
       url(../fonts/open_sans_condensed_light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url(../fonts/opensans-condbold.eot);
  src: url(../fonts/opensans-condbold.eot?#iefix) format("embedded-opentype"),
       url(../fonts/opensans-condbold.svg) format("svg"),
       url(../fonts/opensans-condbold.woff) format("woff"),
       url(../fonts/opensans-condbold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans Bold';
  src: url(../fonts/opensans-bold.eot);
  src: url(../fonts/opensans-bold.eot?#iefix) format("embedded-opentype"),
       url(../fonts/opensans-bold.svg) format("svg"),
       url(../fonts/opensans-bold.woff) format("woff"),
       url(../fonts/opensans-bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}



