
.f_el {
	
	&.search_field_h {
		
		@include respond-to-max($resp_step_1) {
			padding-right : 10px;
		}
		
		@include respond-to-min($resp_step_1) {
			position    : absolute;
			left        : 0;
			top         : 0;
			right       : 0;
			margin-left : 20px;
		}
	}
	
	&.s_105 {
	}
	
}

.form_input {
	display : block;
	width   : 100%;
	
	&.form_input_v1 {
		height         : 28px;
		padding        : 7px;
		text-transform : uppercase;
		border         : 1px solid #404040;
		background     : #fbfbfb;
		box-shadow     : inset 0 0 1px #959595;
		font           : 14px/1 $OpenSansCondBold;
	}
	
	&.form_input_v2 {
		height     : 25px;
		padding    : 7px;
		border     : 1px solid #263e48;
		background : #fff;
		box-shadow : inset 0 0 1px #e1e1e1;
		text-align : center;
		font       : 10px/11px $OpenSansLight;
	}
	
	&.form_input_v3 {
		height     : 19px;
		padding    : 3px 5px;
		border     : 1px solid #263e48;
		background : #fff;
		font       : 10px/13px $OpenSansLight;
		
		@at-root textarea#{&} {
			height : 65px;
			
			@include respond-to-min($resp_step_1) {
				height : 90px;
			}
		}
		
		@include respond-to-min($resp_step_1) {
			height : 24px;
			font   : 14px/18px $OpenSansLight;
		}
	}
	
	@at-root div#{&} {
		position : relative;
	}
}

.input_hidden {
	display : none;
}

.form_label {
	
	&.form_label_v1 {
		color : #263e48;
	}
	
}

.btn_v1 {
	height : 28px;
	
	&.search_btn {
		float      : left;
		position   : relative;
		width      : 28px;
		background : #fefefd;
		border     : 1px solid #404040;
		box-shadow : inset 0 0 2px #959595;
		
		&:before {
			content    : '';
			position   : absolute;
			top        : 50%;
			left       : 50%;
			margin     : -10px 0 0 -10px;
			width      : 20px;
			height     : 20px;
			background : url(../i/sprite.png) no-repeat -132px -6px;
		}
		
		@include respond-to-max($resp_step_1) {
			float : right;
			
			.search_opened & {
				display : none;
			}
			
			.search_block & {
				display : block;
			}
			
		}
	}
	
	&.search_close_btn {
		float       : left;
		position    : relative;
		background  : #fefefd;
		width       : 28px;
		margin-left : 3px;
		border      : 1px solid #404040;
		box-shadow  : inset 0 0 2px #959595;
		display     : none;
		
		&:before {
			content    : '';
			position   : absolute;
			top        : 50%;
			left       : 50%;
			margin     : -10px 0 0 -10px;
			width      : 20px;
			height     : 20px;
			background : url(../i/sprite.png) no-repeat -101px -6px;
		}
		
		@include respond-to-max($resp_step_1) {
			float : right;
		}
		
		.search_opened & {
			display : block;
		}
	}
	
	&.menu_toggle {
		float      : left;
		position   : relative;
		background : #fefefd;
		display    : block;
		width      : 28px;
		border     : 1px solid #404040;
		box-shadow : inset 0 0 2px #959595;
		
		&:before {
			content    : '';
			position   : absolute;
			top        : 50%;
			left       : 50%;
			margin     : -10px 0 0 -10px;
			width      : 20px;
			height     : 20px;
			background : url(../i/sprite.png) no-repeat -70px -6px;
		}
	}
}

.btn_v2 {
	height : 17px;
	
	&.footer_btn {
		float           : left;
		margin-right    : 10px;
		padding         : 0 2px;
		min-width       : 103px;
		font            : 12px/17px $OpenSansLight;
		text-align      : center;
		text-decoration : none;
	}
}

.btn_v3 {
	height : 32px;
	
	&.more_btn {
		display         : inline-block;
		vertical-align  : top;
		padding         : 0 15px;
		margin-bottom   : 23px;
		font            : 16px/28px $OpenSansLight;
		text-decoration : none;
		text-transform  : uppercase;
		
		@include respond-to-max($resp_step_1) {
			padding       : 0 20px;
			margin-bottom : 25px;
			margin-top    : 10px;
		}
	}
}

.btn_v4 {
	height : 30px;
	
	&.aside_btn {
		display         : block;
		width           : 100%;
		font            : 12px/25px $OpenSansLight;
		text-decoration : none;
	}
	
	&.callback_btn {
		padding   : 0 14px;
		margin    : 5px 0 17px;
		font-size : 17px;
		
		@include respond-to-min($resp_step_1) {
			margin    : 14px 0;
			font-size : 14px;
		}
	}
	
	@include respond-to-min($resp_step_1) {
		height : 25px;
		
		&.aside_btn {
			font : 10px/22px $OpenSansLight;
		}
	}
}

.btn_v5 {
	position : absolute;
	top      : 0;
	bottom   : 0;
	
	&.file_upload_btn {
		cursor  : pointer;
		right   : 0;
		padding : 0 13px;
		font    : 11px/16px $OpenSansLight;
		
		@include respond-to-min($resp_step_1) {
			line-height : 22px;
		}
	}
}

.check_emul {
	
	&.check_v1 {
		font : 12px/13px $OpenSansLight;
		
		.check_text {
			padding-left : 25px;
			
			&:before {
				content    : '';
				position   : absolute;
				top        : 3px;
				left       : 0;
				width      : 12px;
				height     : 12px;
				border     : 1px solid #314851;
				background : #ebebeb;
				background : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWJlYmViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background : -moz-radial-gradient(center, ellipse cover, #ebebeb 0%, #f3f3f3 49%, #ebebeb 100%);
				background : -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ebebeb), color-stop(49%, #f3f3f3), color-stop(100%, #ebebeb));
				background : -webkit-radial-gradient(center, ellipse cover, #ebebeb 0%, #f3f3f3 49%, #ebebeb 100%);
				background : -o-radial-gradient(center, ellipse cover, #ebebeb 0%, #f3f3f3 49%, #ebebeb 100%);
				background : -ms-radial-gradient(center, ellipse cover, #ebebeb 0%, #f3f3f3 49%, #ebebeb 100%);
				background : radial-gradient(ellipse at center, #ebebeb 0%, #f3f3f3 49%, #ebebeb 100%);
				filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ebebeb', GradientType=1);
			}
			
		}
		
		.input_hidden:checked + .check_text {
			&:before {
				background : #8CCE5D;
			}
		}
		
		@include respond-to-min($resp_step_1) {
			font : 11px/13px $OpenSansLight;
			
			.check_text {
				padding-left : 20px;
				
				&:before {
					width  : 9px;
					height : 9px;
				}
			}
		}
	}
}

.check_text {
	position       : relative;
	display        : inline-block;
	vertical-align : top;
}

.gray_btn {
	background : #263e48;
	color      : #fff;
	@include transition_all(background .3s);
	
	&:hover {
		background : #345461;
	}
}

.yellow_btn {
	background : #ff8403;
	color      : #fff;
	@include transition_all(background .3s);
	
	&:hover {
		background : #e07003;
	}
}

.yellow_btn_v2 {
	border     : 2px solid #ff8403;
	color      : #ff8403;
	background : transparent;
	@include transition_all(background .3s, color .3s);
	
	&:hover {
		background : #e07003;
		color      : #fff;
	}
}
