/* grid */

.g_row { //   родитель колонки
	position : relative;
	@extend %clearfix;
	
	@include respond-to-max($resp_step_1, true) {
		margin-left : -4px;
	}
	
	@include respond-to-min($resp_step_1) {
		margin-left : -20px;
	}
}

@media screen and (min-width : $resp_step_1) {
	
	[class*=g_col_l_] { //   колонка для больших экранов
		float        : left;
		position     : relative;
		padding-left : 20px;
	}
	
	.g_col_l_1 {
		width : 8.33333333%;
	}
	
	.g_col_l_2 {
		width : 16.66666667%;
	}
	
	.g_col_l_3 {
		width : 25%;
	}
	
	.g_col_l_4 {
		width : 33.33333333%;
	}
	
	.g_col_l_5 {
		width : 41.66666667%;
	}
	
	.g_col_l_6 {
		width : 50%;
	}
	
	.g_col_l_7 {
		width : 58.33333333%;
	}
	
	.g_col_l_8 {
		width : 66.66666667%;
	}
	
	.g_col_l_9 {
		width : 75%;
	}
	
	.g_col_l_10 {
		width : 83.33333333%;
	}
	
	.g_col_l_11 {
		width : 91.66666667%;
	}
	
	.g_col_l_12 {
		width : 100%;
	}
	
}

@media screen and (max-width : $resp_step_1) {
	
	[class*=g_col_s_] { //   колонка для маленьких экранов
		position     : relative;
		float        : left;
		padding-left : 4px;
	}
	
	.g_col_s_1 {
		width : 8.33333333%;
	}
	
	.g_col_s_2 {
		width : 16.66666667%;
	}
	
	.g_col_s_3 {
		width : 25%;
	}
	
	.g_col_s_4 {
		width : 33.33333333%;
	}
	
	.g_col_s_5 {
		width : 41.66666667%;
	}
	
	.g_col_s_6 {
		width : 50%;
	}
	
	.g_col_s_7 {
		width : 58.33333333%;
	}
	
	.g_col_s_8 {
		width : 66.66666667%;
	}
	
	.g_col_s_9 {
		width : 75%;
	}
	
	.g_col_s_10 {
		width : 83.33333333%;
	}
	
	.g_col_s_11 {
		width : 91.66666667%;
	}
	
	.g_col_s_12 {
		width : 100%;
	}
	
	.mob_indent_10 {
		margin-top : 10px;
	}
}

@media (-webkit-min-device-pixel-ratio : 2), // Webkit-based browsers */
(min--moz-device-pixel-ratio : 2), // Older Firefox browsers (prior to Firefox 16) */
(min-resolution : 2dppx), // The standard way */
(min-resolution : 192dpi),
(max-device-width : 965px) {
	
	[class*=g_col_s_] { //   колонка для маленьких экранов
		position     : relative;
		float        : left;
		padding-left : 4px;
	}
	
	.g_col_s_1 {
		width : 8.33333333%;
	}
	
	.g_col_s_2 {
		width : 16.66666667%;
	}
	
	.g_col_s_3 {
		width : 25%;
	}
	
	.g_col_s_4 {
		width : 33.33333333%;
	}
	
	.g_col_s_5 {
		width : 41.66666667%;
	}
	
	.g_col_s_6 {
		width : 50%;
	}
	
	.g_col_s_7 {
		width : 58.33333333%;
	}
	
	.g_col_s_8 {
		width : 66.66666667%;
	}
	
	.g_col_s_9 {
		width : 75%;
	}
	
	.g_col_s_10 {
		width : 83.33333333%;
	}
	
	.g_col_s_11 {
		width : 91.66666667%;
	}
	
	.g_col_s_12 {
		width : 100%;
	}
	
	.mob_indent_10 {
		margin-top : 10px;
	}
}

.g_col_right {
	float : right;
}