- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM о компании')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption!='Компания<br>сегодня'

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

						.main_content
							.text_block
								p
									b.color_orange ООО «Современные Технологии Машиностроения» 
									| - это современная производственно-технологическая база, высококвалифицированные специалисты, отлаженная система управления качеством, сертифицированная на соответствие требованиям ГОСТ Р ИСО 9001-2008 и ГОСТ РВ 0015-002-2012. Предприятие имеет в своей структуре специализированное конструкторское бюро, оснащенное системами компьютерного проектирования.
								p Все это является основой для освоения и выпуска новых, конкурентоспособных, высокотехнологичных, наукоемких видов продукции по замкнутому технологическому циклу.
								p Выпускаемая продукция широко востребована от авиакосмической и военной промышленности, нефтегазовой и химических отраслей, энергетики, в том числе атомной, до пищевой отрасли.

								.employee_slider_holder
									.slider_wrapper.featureSlider
										ul.employee_list.Slider
											+loop_while(4)
												li.employee_unit.featureSlide.clearfix
													.employee_photo
														img.employee_img(src='i/no_photo.png')
													.employee_description
														.employee_name Иванов Иван Иванович
														.employee_post генеральный директор ООО "Современные Технологии Машиностроения"
														.employee_overview генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО "Современные Технологии Машиностроения" генеральный директор ООО 
										ul.employee_bullets.featureSliderControls
											li.employee_bullet_item: a.employee_bullet.featureDot(href='#', data-slide=0)
											li.employee_bullet_item: a.employee_bullet.featureDot(href='#', data-slide=1)
											li.employee_bullet_item: a.employee_bullet.featureDot(href='#', data-slide=2)
											li.employee_bullet_item: a.employee_bullet.featureDot(href='#', data-slide=3)
								
							ul.stat_list
								li.stat_unit
									.stat_block
										.stat_counter
											.stat_counter_box
												.stat_val 140
												.stat_text человек
											.stat_icon
												img.stat_img(src='i/people.png')
											.stat_icon_tip ЧИСЛЕННОСТЬ СОТРУДНИКОВ
										.stat_graph_holder.mob_hidden
											.stat_graph_caption Численность сотрудников по годам
											.stat_graph
												img.stat_graph_img(src='i/trends.png')
								li.stat_unit
									.stat_block
										.stat_counter
											.stat_counter_box
												.stat_val 21
												.stat_text штука
											.stat_icon
												img.stat_img(src='i/center.png')
											.stat_icon_tip КОЛИЧЕСТВО ОБРАБАТЫВАЮЩИХ ЦЕНТРОВ
										.stat_graph_holder.mob_hidden
											.stat_graph_caption Количестов обрабатывающих центров по годам
											.stat_graph
												img.stat_graph_img(src='i/trends.png')
								li.stat_unit
									.stat_block
										.stat_counter
											.stat_counter_box
												.stat_val 4440
												.stat_text кв. метров
											.stat_icon
												img.stat_img(src='i/house.png')
											.stat_icon_tip ПРОИЗВОДСТВЕННЫЕ ПЛОЩАДИ
										.stat_graph_holder.mob_hidden
											.stat_graph_caption Производственные площади по годам
											.stat_graph
												img.stat_graph_img(src='i/trends.png')
											
			+footer()