- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM преимущества')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 
	
						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption!='НАШИ<br>ПРЕИМУЩЕСТВА'

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

						.main_content
							ul.advantages_list
								li.advantage_item Комплексный подход к обеспечению опытно-конструкторских работ и потребностей производства Заказчика
								li.advantage_item Опытный, профессиональный и амбициозный коллектив
								li.advantage_item Современное высокоточное оборудование от ведущих мировых производителей
								li.advantage_item Многоуровневая система контроля качества на всех этапах производства
								li.advantage_item Сертификаты системы менеджмента качества по ГОСТ Р ИСО 9001-2011 и «Военный Регистр» ГОСТ РВ 0015-002-2012

							.g_row
								.g_col_l_6.g_col_s_12
									.service_block.active
										.service_block_caption ВИДЫ ПРЕДЛАГАЕМЫХ УСЛУГ
										.middle_block
											.service_block_info
												p Фрезерная обработка с ЧПУ
												p Токарная обработка с ЧПУ
												p Листовая обработка с ЧПУ
												p Изготовление изделий из пластмасс
												p Контрактное производство электротехники
								.g_col_l_6.g_col_s_12
									.service_block
										.service_block_caption ВИДЫ ЛАКОКРАСОЧНЫХ ПОКРЫТИЙ
										.middle_block
											.service_block_info
												p Лак
												p Грунтовка
												p Шпатлевка
												p Покрытие полиуретановыми эмалями DuPont
												p Покрытие порошком
								.g_col_l_6.g_col_s_12
									.service_block.active
										.service_block_caption ВИДЫ ОБРАБАТЫВАЕМЫХ МАТЕРИАЛОВ
										.middle_block
											.service_block_info
												p Цветные металлы и их сплавы (алюминиевые, медные, титановые)
												p Неметаллические материалы
												p Стали (углеродистые и легированные)
								.g_col_l_6.g_col_s_12
									.service_block
										.service_block_caption ВИДЫ ГАЛЬВАНИЧЕСКИХ ПОКРЫТИЙ
										.middle_block
											.service_block_info
												p Сложные трехслойные гальванические
												p покрытия, в том числе под будущую пайку
												p Хромирование
												p Цинкование
												p Фосфатирование
												p Оксидирование
												p Электрополирование
								.g_col_l_6.g_col_s_12
									.service_block
										.service_block_caption ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА
										.middle_block
											.service_block_info
												p Лужение
												p Термическая стабилизация и нормализация
												p Галтовка
												p Пескоструй
												p Обработка видовых поверхностей с целью нивелирования следов от переходов инструмента


			+footer()