- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'], feature_arr_3 = [ 'МНОГОКООРДИНАТНАЯ С ЧПУ', 'ВЫСОКОСКОРОСТНАЯ ФРЕЗЕРНО-ГРАВИРОВАЛЬНАЯ', 'ВЫСОКОТОЧНАЯ НАКЛОННЫХ И ФАСОВАННЫХ ПОВЕРХНОСТЕЙ', 'ВИДЫ ОБРАБАТЫВАЕМЫХ МАТЕРИАЛОВ'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM категория')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder.wide_mod.full_w_mod
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.main_content
							.article_title Фрезерная обработка
							.g_row: ul.feature_list.g_col_l_12.category_mod.clearfix
								each val, index in feature_arr
									li.feature_item.g_col_l_3.g_col_s_6
										a.feature_box(href='#')
											.feature_img_w
												img.feature_img(src='i/feature_' + (index + 1) + '.jpg')
											.feature_description
												span.middle_block!=val
							.text_block
								p Приоритетным и ключевым направлением деятельности нашей компании является изготовление корпусных деталей методом фрезерования на вертикальных и горизонтальных обрабатывающих центрах. <br>Для серийного производства деталей специалисты компании по фрезерной обработке разрабатывают специальные приспособления, позволяющие снизить трудозатраты на фрезерную обработку, а также увеличить производительность.

							.g_row: ul.feature_list.g_col_l_12.category_mod.clearfix
								each val, index in feature_arr_3
									li.feature_item.g_col_l_3.g_col_s_12
										.feature_info
											.feature_title
												span.middle_block!=val
											.feature_option
												.feature_cell
													span Точность
													.feature_val.color_orange 8-12
													span Квалитет
												.feature_cell
													span Максимальные <br> размеры
													.feature_val.color_orange 1050x540X560
													span мм

			+footer()