- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM сертификаты')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption!='ЛИЦЕНЗИИ<br>И СЕРТИФИКАТЫ'

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

						.main_content
							.text_block
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim bibendum sem, at mattis arcu pretium non. Nulla in auctor quam. Ut risus sapien, convallis ut ornare ac, ullamcorper et purus. Curabitur quis diam sollicitudin, pellentesque elit vitae, rhoncus mauris. Vivamus tincidunt auctor rutrum. Donec fermentum, nisi vitae maximus ultricies, sem elit varius odio, eu dictum mauris nulla sit amet nibh. Nam ullamcorper mi sit amet justo pharetra posuere. Curabitur euismod mauris eu rhoncus elementum. Suspendisse sit amet ex eu quam dignissim pellentesque.
									
							ul.certificate_list
								+loop_while(9)
									li.certificate_item
										.certificate_photo
											img.certificate_img(src='i/certificate.jpg')
										.certificate_caption Название диплом/сертификата
										
			+footer()