- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM контакты', true)

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder.wide_mod.full_w_mod
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

					.contacts_map_holder
						#ya_map.contacts_map
						.section_inner
							a.print_map_btn.mob_hidden(href='#') печать

					.section_inner.clearfix
						div.main_content.contact_forms.clearfix
							div.form_right.form_cell_v1
								form(action='#')
									.form_caption Контакты
									.tabs_block.tabs_block_v1.tabsBlock
										ul.tab_controls
											li.tab_control.active: a.tab_link(href='#tab_1') Офис
											li.tab_control: a.tab_link(href='#tab_2') Производтво
										.tabs_holder.tabsHolder
											#tab_1.tab_unit.active
												dl.contact_list.g_row
													dt.contact_item.g_col_l_4.g_col_s_5: b Адрес офиса:
													dd.contact_val.g_col_l_8.g_col_s_7 426050 г.Ижевск, ул. 9-е Января, 261
													dt.contact_item.g_col_l_4.g_col_s_5: b Телефон/факс:
													dd.contact_val.g_col_l_8.g_col_s_7 8 (3412) 45 07 30
													dt.contact_item.g_col_l_4.g_col_s_5: b E-mail: 
													dd.contact_val.g_col_l_8.g_col_s_7 stm1@stm1.ru
											#tab_2.tab_unit
												dl.contact_list.g_row
													dt.contact_item.g_col_l_4.g_col_s_5: b Адрес производства:
													dd.contact_val.g_col_l_8.g_col_s_7 426050 г.Ижевск, ул. 9-е Января, 261
													dt.contact_item.g_col_l_4.g_col_s_5: b Телефон/факс:
													dd.contact_val.g_col_l_8.g_col_s_7 8 (3412) 45 07 30
													dt.contact_item.g_col_l_4.g_col_s_5: b E-mail: 
													dd.contact_val.g_col_l_8.g_col_s_7 stm1@stm1.ru

							div.form_right.form_cell_v1
								form(action='#')
									.form_caption Форма заказа
									.form_tip Поля, отмеченные *, обязательны для заполнения. 
										span.mob_hidden <br>
										| Пожалуйста, заполните форму, чтобы отправить сообщение.
									.form_cell
										.g_row
											.g_col_l_3.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_firm') Организация*
											.g_col_l_9.g_col_s_12: .f_el: input#callback_firm.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_3.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_name') ФИО*
											.g_col_l_9.g_col_s_12: .f_el: input#callback_name.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_3.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_email') Email*
											.g_col_l_9.g_col_s_12: .f_el: input#callback_email.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_3.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_phone') Телефон*
											.g_col_l_9.g_col_s_12: .f_el: input#callback_phone.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_3.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_comment') Комментарий*
											.g_col_l_9.g_col_s_12: .f_el: textarea#callback_comment.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_3.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_file') Файл
											.g_col_l_9.g_col_s_12: .f_el
												input#callback_file.form_input.form_input_v3.input_hidden(type='file')
												.form_input.form_input_v3
													label.btn_v5.file_upload_btn.gray_btn(for='callback_file') Загрузить
									.form_cell
										.g_row
											.g_col_l_3.g_col_s_12.mob_hidden: .f_el &nbsp;
											.g_col_l_9.g_col_s_12.mob_indent_10: .f_el
												label.check_emul.check_v1
													input.input_hidden(type='checkbox')
													span.check_text Я согласен на обработку моих персональных данных
									.form_cell
										.g_row
											.g_col_l_3.g_col_s_12.mob_hidden: .f_el &nbsp;
											.g_col_l_9.g_col_s_12.mob_indent_10: .f_el: button.btn_v4.yellow_btn.callback_btn Отправить

			+footer()