- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM Оборудование')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder.wide_mod.full_w_mod
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.main_content
							.article_title Оборудование
							+loop_while(3)
								.equipment_unit
									.img_fl_l.img_bdr.equipment_img: img(src='i/equipment_1.jpg')
									.text_block
										h2.equipment_caption Корпусные детали
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. 
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. 

			+footer()