- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM главная 1', false, true)

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.stickable
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.slider_wrapper.ctmSlider
						ul.slider
							+loop_while(5)
								li.slide
									.slide_inner
										img.slide_img(src='i/banner_1.jpg')
										.slide_content
											.section_inner
												.slide_info_panel
													.slide_info_box СОВРЕМЕННАЯ
													.slide_info_box ПРОИЗВОДСТВЕННО-ТЕХНОЛОГИЧЕСКАЯ
													.slide_info_box БАЗА

						.main_slider_controls
							.section_inner
								.g_row
									.g_col_l_1.g_col_s_1.text_left
										a.slider_btn.slider_prev(href='#')
									.g_col_l_10.g_col_s_10
										.slider_wrapper
											ul.slider_bullets
												each val, index in bullet_arr
													li.slider_bullet_item: a.slider_bullet(href='#', data-slide=index)!=val

									.g_col_l_1.g_col_s_1.text_right
										a.slider_btn.slider_next(href='#')

				.section
					.section_inner
						.g_row
							.slider_wrapper.featureSlider
								.feature_slider.Slider
									ul.feature_list.g_col_l_6.featureSlide
										each val, index in feature_arr
											li.feature_item
												a.feature_box(href='category.html')
													.feature_img_w
														img.feature_img(src='i/feature_' + (index + 1) + '.jpg')
													.feature_description
														span.middle_block!=val
									ul.feature_list.g_col_l_6.featureSlide
										each val, index in feature_arr_2
											li.feature_item
												a.feature_box(href='category.html')
													.feature_img_w
														img.feature_img(src='i/feature_' + (index + 5) + '.jpg')
													.feature_description
														span.middle_block!=val
											
							.feature_slider_controls
								a.feature_control.prev_feature.prevFeature(href='#')
								a.feature_control.next_feature.nextFeature(href='#')
								
							.feature_slider_controls.text_center.featureSliderControls
								a.feature_dot.featureDot(href='#', data-slide=0)
								a.feature_dot.featureDot(href='#', data-slide=1)
								//a.feature_dot(href='#', data-slide=1)
								
				.section
					.section_inner
						.work_approach.mob_only
							.approach_right
									.approach_text.approach_text_1 ПОДХОД К ЗАДАЧЕ С<br>НЕСКОЛЬКИХ СТОРОН
									img.approach_img(src='i/add_banner_1.jpg')
									.approach_controls
										a.approach_btn.approach_left_btn(href='#') ИННОВАТОРАМ
										a.approach_btn.approach_right_btn(href='#') СОТРУДНИКАМ

						.work_approach.workApproach.mob_hidden
							.approach_splitbar.approachSplitbar
							.approach_left.approachLeft
								.approach_text.approach_text_1 ПОДХОД К ЗАДАЧЕ С<br>НЕСКОЛЬКИХ СТОРОН
								img.approach_img(src='i/add_banner_1.jpg')
								.approach_description
									.approach_caption ПРИСОЕДИНЯЙСЯ К НАШЕЙ КОМАНДЕ
									.approach_info Отличная команда профессионалов!<br>Большое количество вакансий!<br>Высокая оплата труда!
									
								a.approach_btn.approach_left_btn.approachRightBtn(href='#') ИННОВАТОРАМ
							.approach_right.approachRight
								.approach_text.approach_text_2 ПОДХОД К ЗАДАЧЕ С<br>НЕСКОЛЬКИХ СТОРОН
								img.approach_img(src='i/add_banner_2.jpg')
								.approach_description
									.approach_caption ПРИСОЕДИНЯЙСЯ К НАШЕЙ КОМАНДЕ
									.approach_info Отличная команда профессионалов!<br>Большое количество вакансий!<br>Высокая оплата труда!
								a.approach_btn.approach_right_btn.approachLeftBtn(href='#') СОТРУДНИКАМ

				.section
					.section_inner
						.news_block
							.g_row
								.g_col_l_12.text_center
									h2.news_title НОВОСТИ
								+loop_while(3)
									.g_col_l_4.g_col_s_12
										+news_unit()
								.g_col_l_12.text_center
									a.btn_v3.more_btn.yellow_btn_v2(href='#') Все новости

			+footer()