- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM для инноваторов')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption!='ИНФОРМАЦИЯ<br>ДЛЯ ИННОВАТОРОВ'

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

						.main_content.form_holder
							.form_right.form_cell_v1
								form(action='#')
									.form_caption Форма обратной связи
									.form_tip Поля, отмеченные *, обязательны для заполнения. 
										span.mob_hidden <br>
										| Пожалуйста, заполните форму, чтобы отправить сообщение.
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_name') ФИО*
											.g_col_l_8.g_col_s_12: .f_el: input#callback_name.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_email') Email*
											.g_col_l_8.g_col_s_12: .f_el: input#callback_email.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_phone') Телефон*
											.g_col_l_8.g_col_s_12: .f_el: input#callback_phone.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_comment') Комментарий*
											.g_col_l_8.g_col_s_12: .f_el: textarea#callback_comment.form_input.form_input_v3
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12: .f_el: label.form_label.form_label_v1(for='callback_file') Файл
											.g_col_l_8.g_col_s_12: .f_el
												input#callback_file.form_input.form_input_v3.input_hidden(type='file')
												.form_input.form_input_v3
													label.btn_v5.file_upload_btn.gray_btn(for='callback_file') Загрузить
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12.mob_hidden: .f_el &nbsp;
											.g_col_l_8.g_col_s_12.mob_indent_10: .f_el
												label.check_emul.check_v1
													input.input_hidden(type='checkbox')
													span.check_text Я согласен на обработку моих персональных данных
									.form_cell
										.g_row
											.g_col_l_4.g_col_s_12.mob_hidden: .f_el &nbsp;
											.g_col_l_8.g_col_s_12.mob_indent_10: .f_el: button.btn_v4.yellow_btn.callback_btn Отправить

							.text_block
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus tellus, gravida eget sollicitudin sit amet, lobortis vel elit. Nullam non dui enim.
								p.mob_hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur,
								p.mob_hidden Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus tellus, gravida eget sollicitudin sit amet, lobortis vel elit. Nullam non dui enim.


			+footer()