- var i = 0, menu_arr = [{link: 'about.html', title: 'О компании'},{link: 'products.html', title: 'Продукция'},{link: '#', title: 'Оборудование'},{link: 'project.html', title: 'Проект технопарка'},{link: 'vacancies.html', title: 'Сотрудники'},{link: 'press.html', title: 'Пресс-центр'},{link: 'contacts.html', title: 'Контакты'}]

- var f_menu_arr = [{link: 'index.html', title: 'Главная '},{link: 'about.html', title: 'О Компании'},{link: '#', title: 'Продукция'},{link: '#', title: 'Оборудование'},{link: '#', title: 'Проект технопарка'},{link: 'press.html', title: 'Пресс-центр'},{link: '#', title: 'Персонал'},{link: 'contacts.html', title: 'Контакты'}]

mixin loop_while(counter)
	-i=0;
	while i < counter
		-i++;
		block

mixin dev_head(page_title, map, swipe)
	head
		title=page_title
		| <!-- saved from url=(0014)about:internet -->
		meta(charset='utf-8')
		meta(name='viewport', content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='styles/main_global.css', media='all')
		script(src='js/modernizr.2.js')
		| <!--[if IE 8]>
		| <script src="js/respond.src.js"></script>
		| <link rel="stylesheet" href="styles/ie8.css" media="all">
		| <![endif]--> 
		script(src='js/jquery-1.9.0.min.js')
		if (map)
			script(src='http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU')
			| <script type="text/javascript">
			| ymaps.ready(init);
			| function init(){
			|   var myMap = new ymaps.Map('ya_map', {
			| 	  center: [56.881925, 53.255193],
			| 	  zoom  : 13
			|   });
			| }
			| </script>
		if (swipe)
			script(src='js/jquery.touchSwipe.min.js')
		script(src='js/script.js')

mixin main_menu(active)
	ul.main_menu
		each val, index in menu_arr
			li.menu_item
				a.menu_link(href=val.link, class=active == index ? "active" : "")
					span.link_text=val.title

mixin footer_menu(active)
	ul.footer_menu
		each val, index in f_menu_arr
			li.f_menu_item
				a.f_menu_link(href=val.link, class=active == index ? "active" : "")=val.title
				
			
mixin news_unit()
	.news_unit
		a.news_img_w(href='#'): img.news_img(src='i/news_1.jpg')
		.news_description
			a.news_link(href='#') ООО "СТМ" ПОДТВЕРДИЛО СООТВЕТСТВИЕ ИСО 9001-2011
			.news_preview В результате инспекционного контроля системы менеджмента качества ООО "СТМ" было получено подтверждение  соответствия действующей СМК требованиям ГОСТ ISO 9001-2011....

mixin sub_menu()
	ul.sub_menu
		li.sub_menu_item: a.sub_m_link(href='about.html') Компания сегодня
		li.sub_menu_item: a.sub_m_link(href='#') История
		li.sub_menu_item: a.sub_m_link.active(href='advantages.html') Наши преимущества
		li.sub_menu_item: a.sub_m_link(href='#') Миссия компании
		li.sub_menu_item: a.sub_m_link(href='partners.html') Партнеры
		li.sub_menu_item: a.sub_m_link(href='#') Награды и дипломы
		li.sub_menu_item: a.sub_m_link(href='certificates.html') Лицензии и сертификаты
				
mixin footer()
	.footer
		.section_inner
			.g_row
				.g_col_l_5.g_col_s_12
					+footer_menu()
					.footer_controls
						a.btn_v2.yellow_btn.footer_btn(href='#') Скачать каталог
						a.btn_v2.yellow_btn.footer_btn(href='#') Форма заказа
				.g_col_l_1.g_col_s_3
					.dev_info
				.g_col_l_1.g_col_s_3
					.dev_info
				.g_col_l_5.g_col_s_12
					.footer_contacts
						p +7 (3412) 45 07 30
						p stm1@stm1.ru
						p 426050 г.Ижевск, ул. 9-е Января, 261