- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM партнеры')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption!='ЛИЦЕНЗИИ<br>И СЕРТИФИКАТЫ'

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

						.main_content
							.partners_map.mob_hidden
								img(src='i/partners_map.png')
							.g_row
								.g_col_l_6.g_col_s_12
									ul.partners_list
										li.partner_item ООО «Абрис-Технолоджи» (г. Санкт-Петербург)
										li.partner_item ОАО «Завод «Красное Знамя» (г. Рязань)
										li.partner_item ОАО ДНИИ «Волна» (г. Дербент, Дагестан)
										li.partner_item ОАО «Ижевский мотозавод «Аксион-холдинг» (г. Ижевск)
										li.partner_item ОАО «КАПО им. С. П. Горбунова» (г. Казань)
										li.partner_item ЗАО «КБ НАВИС» (г. Москва)
										li.partner_item ОАО «НИИ КП» (г. Москва)
								.g_col_l_6.g_col_s_12
									ul.partners_list
										li.partner_item Холдинг «Авиационное оборудование» (г. Москва)
										li.partner_item ФГУП БСКБ «Восток» (г. Барнаул)
										li.partner_item ФГУП ДВПО «ВОСХОД» (пгт. Эльбан, Хабаровский край)
										li.partner_item ОАО «Ижевский радиозавод» (г. Ижевск)
										li.partner_item ЗАО «КБ НАВИС» (г. Москва)
										li.partner_item ЗАО «НТЦ ЭЛИНС» (г. Зеленоград)
										li.partner_item ЗАО «НПК «ВИП» (г. Екатеринбург)
										
			+footer()