- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM статика')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.g_col_s_12.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.g_col_s_12.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 

						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption!='пресс-центр'

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

						.main_content
							.text_block
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl nisl, aliquet ut ipsum eget, fermentum suscipit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas egestas lorem quis nibh egestas lobortis. Curabitur commodo justo eget urna iaculis maximus. Ut malesuada leo at ultrices posuere. Curabitur id sagittis mauris. Curabitur sed purus efficitur, laoreet arcu et, dapibus ex. Suspendisse eget dictum sem, ac imperdiet purus. Etiam at porttitor metus. Suspendisse sed blandit tortor. Sed sodales, nunc eget sollicitudin egestas, enim ligula gravida tellus, vitae venenatis sapien nibh in dui. Aliquam eu pellentesque neque, sit amet iaculis justo. Fusce ultricies neque vitae vulputate vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus tellus, gravida eget sollicitudin sit amet, lobortis vel elit. Nullam non dui enim.

								h3 Lorem ipsum dolor sit amet

								.img_fl_r: img(src='i/project.jpg')

								p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus porttitor mi mauris, at rutrum mi ornare vel. 
									a.color_orange(href='#') Vestibulum
									|  condimentum euismod ex porttitor tristique. Nunc quis purus at ligula sodales posuere vitae eu diam. Integer finibus rhoncus metus in iaculis. Pellentesque vehicula sed est finibus pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum est dui, eget imperdiet lacus faucibus ac. Nulla a neque turpis. Nulla luctus nulla vitae magna iaculis tincidunt. Ut vehicula interdum nisl quis auctor. Nullam ut pretium justo, sed mattis orci. Etiam viverra blandit est, nec rhoncus lectus varius at.
											
			+footer()