- var bullet_arr = ['КОМПЛЕКСНЫЙ<span class="mob_hidden"><br></span>ПОДХОД', 'СОВРЕМЕННЫЕ<span class="mob_hidden"><br></span>ТЕХНОЛОГИИ', 'ВЫСОКОЕ<span class="mob_hidden"><br></span>КАЧЕСТВО', 'ЭФФЕКТИВНАЯ<span class="mob_hidden"><br></span>ЛОГИСТИКА', 'ТЕСТОВАЯ<span class="mob_hidden"><br></span>КАТЕГОРИЯ'], feature_arr = ['ФРЕЗЕРНАЯ ОБРАБОТКА', 'ТОКАРНАЯ ОБРАБОТКА', 'ЛИСТОВАЯ ОБРАБОТКА', 'ПРОИЗВОДСТВО ИЗДЕЛИЙ ИЗ ПЛАСТМАСС'], feature_arr_2 = [ 'ПОКРЫТИЯ', 'МЕХАНО-СБОРОЧНЫЕ РАБОТЫ', 'КОНТАКТНОЕ ПРОИЗВОДСТВО ЭЛЕКТРОНИКИ', 'ДОПОЛНИТЕЛЬНАЯ ОБРАБОТКА'] ;

include mixins
doctype html
html(lang='ru')
	+dev_head('CTM вакансии')

	body
		.wrapper.main_page
			//.rect_1024
			.base
				div.header.fixed_mod
					.section_inner
						.g_row
							.g_col_s_1.mob_only
								.f_el
									a.btn_v1.menu_toggle.menuToggle(href='#'): span.menu_toggle_text меню
							.g_col_l_3.g_col_s_10.logo_holder
								a.logo(href='index.html'): img(src='i/logo.png')
							.g_col_l_8.search_block
								form(action='#')
									.f_el.search_field_h.g_col_s_11
										input.form_input.form_input_v1.searchInput(placeholder='Поиск по сайту...')
									.search_block_controls.g_col_s_1
										.f_el: button.btn_v1.search_btn
							.g_col_l_8.menu_block
								+main_menu(0)
							.g_col_l_1.g_col_s_1
								.f_el
									a.btn_v1.search_btn.openSearchBtn(href='#'): span.menu_toggle_text.mob_only поиск
									a.btn_v1.search_close_btn.closeSearchBtn(href='#')

				.section
					.section_inner.clearfix
						.breadcrumbs_holder
							ul.breadcrumbs
								li.breadcrumb_item: a.breadcrumb_link(href='#') Главная 
								li.breadcrumb_item: a.breadcrumb_link(href='#') Родительская страница 
								li.breadcrumb_item: span.breadcrumb_link(href='#') Текущая страница 
	
						.hero_block
							img.hero_img(src='i/hero.jpg')
							.hero_text_holder: .hero_text
								.hero_caption Вакансии

						.aside_left
							.aside_menu.mob_hidden
								+sub_menu()

							.adds_block
								.adds_caption Не нашли подходящей вакансии?
								.adds_text Отправте нам свое резюме и Мы постараемся найти интересующую вакансию
								.adds_controls.text_center
									.f_el: a.btn_v4.aside_btn.gray_btn(href='#'): span.middle_block Отправить резюме
							.adds_block.mob_hidden
								.adds_caption Подписка
								.adds_text Подпишитесь на обновления вакансий,  чтоб стать одним из первых кандидатов на интересующую Вас вакансию
								.adds_controls.text_center
									form(action='#')
										.f_el: input.form_input.form_input_v2(placeholder='Электронная почта')
										.f_el: button.btn_v4.aside_btn.gray_btn(href='#'): span.middle_block Отправить резюме
									
						.main_content
							ul.vacancies_list
								+loop_while(3)
									li.vacancy_item
										.vacancy_block
											.vacancy_caption 
												span.vacancy_name Электрогазосварщик 
												span.vacancy_price  22 000 - 30 000 руб.
											.vacancy_description
												p 
													b Требования:  
													| Опыт работы по специальности, навыки сварки и пайки тонколистовых металлов СО и аргон. <br> Работа по 5-ому разряду.
												p 
													b Место работы:
													| Старки (авт. 23, компенсация проезда). <br> График работы сменный, неделя в 1ю смену, неделю во 2ю.
												p
													b 1 смена: 
													| 7:00 - 15:30 <br>
													b 2 смена: 
													| 14:30 - 23:00
												p Оформление ТК РФ, соц.пакет, <br>
													a.vacancy_link(href='#') Оставить заявку на собеседование

			+footer()