$pi : 3.14159265359;
$square_root_of_2 : 1.41421356237;

$OpenSans : 'Open Sans', sans-serif;
$OpenSansLight : 'Open Sans Light', sans-serif;
$OpenSansLightIt : 'Open Sans Light Italic', sans-serif;
$OpenSansBold : 'Open Sans Bold', sans-serif;
$OpenSansCond : 'Open Sans Condensed', sans-serif;
$OpenSansCondBold : 'Open Sans Condensed Bold', sans-serif;
$OpenSansCondLight : 'Open Sans Condensed Light', sans-serif;
$font_1 : "Trebuchet MS", Helvetica, sans-serif;
$font_2 : 'DSGooseRegular', Arial, Helvetica, sans-serif;
$font_3 : Arial, Helvetica, sans-serif;
$Tahoma : Tahoma, sans-serif;
$PTRoubleSans : PTRoubleSans, sans-serif;

$cross_font_ArialBlack : 'Arial Black', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$cross_font_Arial : Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$cross_font_ComicSansMS : 'Comic Sans MS', 'Monaco CY', cursive;
$cross_font_CourierNew : 'Courier New', 'Nimbus Mono L', monospace;
$cross_font_Georgia : Georgia, 'Century Schoolbook L', serif;
$cross_font_Impact : Impact, 'Charcoal CY', sans-serif;
$cross_font_TimesNewRoman : 'Times New Roman', 'Times CY', 'Nimbus Roman No9 L', serif;
$cross_font_TrebuchetMS : 'Trebuchet MS', 'Helvetica CY', sans-serif;
$cross_font_Verdana : Verdana, 'Geneva CY', 'DejaVu Sans', sans-serif;

$def_text_color : #29353d;
$placeholder_color : #929ea3;

//    response

$resp_step_1 : 1020px;
$resp_step_2 : 620px;

// mixins

@mixin respond-to-max($custom, $checkDPI : false) {
	@media only screen and (max-width : $custom - 1) {
		@content;
	}
	
	@if $checkDPI == true {
		@media (-webkit-min-device-pixel-ratio : 2), // Webkit-based browsers */
		(min--moz-device-pixel-ratio : 2), // Older Firefox browsers (prior to Firefox 16) */
		(min-resolution : 2dppx), // The standard way */
		(min-resolution : 192dpi),
		(max-device-width : 965px) {
			@content;
		}
	}
}

@mixin respond-to-min($custom1) {
	@media only screen and (min-width : $custom1) {
		@content;
	}
}

@mixin respond-min-max($custom2, $custom3) {
	@media only screen and (min-width : $custom2) and (max-width : $custom3) {
		@content;
	}
}

@mixin respond-to-min-out-max($custom3, $custom2) {
	@media only screen and (max-width : $custom3 - 1), only screen and (min-width : $custom2 + 1) {
		@content;
	}
}

//  миксин для транзишенов
@mixin transition($property : all, $duration : .3s, $easing : ease-in-out, $delay : blank, $important : blank) {
	@if $all == true {
		@if $property == none {
			-webkit-transition  : $property !important;
			transition          : $property !important;
		} @else {
			@if $delay != blank {
				@if $easing != blank {
					@if $property == transform {
						@if $important != blank {
							-webkit-transition : -webkit-#{$property} $duration $easing $delay !important;
							transition         : $property $duration $easing $delay !important;
						} @else {
							-webkit-transition : -webkit-#{$property} $duration $easing $delay;
							transition         : $property $duration $easing $delay;
						}
						
					} @else {
						@if $important != blank {
							-webkit-transition : $property $duration $easing $delay !important;
							transition         : $property $duration $easing $delay !important;
						} @else {
							-webkit-transition : $property $duration $easing $delay;
							transition         : $property $duration $easing $delay;
						}
						
					}
					
				} @else {
					@if $property == transform {
						@if $important != blank {
							-webkit-transition : -webkit-#{$property} $duration $delay !important;
							transition         : $property $duration $delay !important;
						} @else {
							-webkit-transition : -webkit-#{$property} $duration $delay;
							transition         : $property $duration $delay;
						}
						
					} @else {
						@if $important != blank {
							-webkit-transition : $property $duration $delay !important;
							transition         : $property $duration $delay !important;
						} @else {
							-webkit-transition : $property $duration $delay;
							transition         : $property $duration $delay;
						}
						
					}
				}
				
			} @else {
				@if $easing != blank {
					@if $property == transform {
						@if $important != blank {
							-webkit-transition : -webkit-#{$property} $duration $easing !important;
							transition         : $property $duration $easing !important;
						} @else {
							-webkit-transition : -webkit-#{$property} $duration $easing;
							transition         : $property $duration $easing;
						}
						
					} @else {
						@if $important != blank {
							-webkit-transition : $property $duration $easing !important;
							transition         : $property $duration $easing !important;
						} @else {
							-webkit-transition : $property $duration $easing;
							transition         : $property $duration $easing;
						}
						
					}
					
				} @else {
					@if $property == transform {
						@if $important != blank {
							-webkit-transition : -webkit-#{$property} $duration !important;
							transition         : $property $duration !important;
						} @else {
							-webkit-transition : -webkit-#{$property} $duration;
							transition         : $property $duration;
						}
						
					} @else {
						@if $important != blank {
							-webkit-transition : $property $duration !important;
							transition         : $property $duration !important;
						} @else {
							-webkit-transition : $property $duration;
							transition         : $property $duration;
						}
						
					}
				}
			}
			-webkit-will-change : $property;
			will-change         : $property;
		}
	}
}

@mixin transition_all($property...) {
	@if $all == true {
		-webkit-transition : $property;
		-ms-transition     : $property;
		transition         : $property;
	}
}

@mixin mobile() {
	@media (-webkit-min-device-pixel-ratio : 2), // Webkit-based browsers */
	(min--moz-device-pixel-ratio : 2), // Older Firefox browsers (prior to Firefox 16) */
	(min-resolution : 2dppx), // The standard way */
	(min-resolution : 192dpi),
	(max-device-width : 965px) {
		@content;
	}
}

//  миксин для кроссбраузерной прозрачности !!! не работает с псевдоэлементами !!!

@mixin opacity($opacity : 1, $important : false) {
	@if $important == true {
		@if $ie8 == true {
			$opacity : $opacity * 100;
			-ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity='#{$opacity}')" !important;
		} @else if $ie7 == true {
			$opacity : $opacity * 100;
			filter     : alpha(opacity='#{$opacity}') !important;
		} @else {
			opacity    : $opacity !important;
		}
	} @else {
		@if $ie8 == true {
			$opacity : $opacity * 100;
			-ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity='#{$opacity}')";
		} @else if $ie7 == true {
			$opacity : $opacity * 100;
			filter     : alpha(opacity='#{$opacity}');
		} @else {
			opacity    : $opacity;
		}
	}
	
}

//  миксин для длинных теней
// !!!! compile with compass !!!!

//@function long-shadow($direction, $length, $color, $fade : false, $shadow-count : 100) {
//	$shadows : ();
//	$conversion-map : (
//			to top: 180deg,
//			to top right: 135deg,
//			to right top: 135deg,
//			to right: 90deg,
//			to bottom right: 45deg,
//			to right bottom: 45deg,
//			to bottom: 0deg,
//			to bottom left: 315deg,
//			to left bottom: 315deg,
//			to left: 270deg,
//			to left top: 225deg,
//			to top left: 225deg
//	);
//	
//	@if map-has-key($conversion-map, $direction) {
//		$direction : map-get($conversion-map, $direction);
//	}
//	
//	@for $i from 1 through $shadow-count {
//		$current-step : ($i * $length / $shadow-count);
//		$current-color : if(not $fade, $color, if(type-of($fade) == 'color', mix($fade, $color, ($i / $shadow-count * 100)), rgba($color, 1 - $i / $shadow-count)));
//		$shadows : append($shadows, (sin(0deg + $direction) * $current-step) (cos(0deg + $direction) * $current-step) 0 $current-color, 'comma');
//	}
//	
//	@return $shadows;
//}

// usage

//.theme_info_lilac_shadow {
//	box-shadow : long-shadow($direction : -42deg, $length : 140px, $color : #7c447f, $fade : #7c447f);
//}

@import "ctm_extends";
