.clearfix,
%clearfix { // фикс для родителя элементов с флоатом
	&:after {
		position   : static;
		display    : block;
		height     : 0;
		clear      : both;
		content    : "";
		visibility : hidden;
	}
}

%translate3d { // фикс дерганий при анимации
	-webkit-transform           : translateZ(0);
	-moz-transform              : translateZ(0);
	transform                   : translateZ(0);
	-webkit-transform-style     : preserve-3d;
	-moz-transform-style        : preserve-3d;
	transform-style             : preserve-3d;
	-webkit-backface-visibility : hidden;
	-moz-backface-visibility    : hidden;
	backface-visibility         : hidden;
}