.header {
	background : #f7f4f0;
}

.approach_left .approach_info,
.approach_left .approach_caption,
.approach_left .approach_btn {
	background : rgb(27, 44, 51);
}

.approach_right .approach_info,
.approach_right .approach_caption,
.approach_right .approach_btn {
	background : rgb(255, 132, 3);
}

.check_emul.check_v1 .check_text:before {
	display : none !important;
}

.check_emul.check_v1 .input_hidden[type='checkbox'] {
	display  : block;
	position : absolute;
	top      : 0;
	left     : 20px;
}