.clearfix:after,
.g_row:after,
.breadcrumbs:after,
.main_content.form_holder:after,
.certificate_list:after,
.form_cell:after,
.slider:after,
.slide_info_panel:after,
.news_unit:after,
.stat_unit:after,
.article_unit:after,
.article_caption_holder:after,
.equipment_unit:after,
.tab_controls:after,
.main_menu:after,
.search_block:after,
.footer_menu:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

.slider_btn, .slider, .feature_slider {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a, input, label, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
h1:before,
h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
abbr:before,
abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
del:before,
del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
small:before,
small:after, strong:before, strong:after, sub:before, sub:after, sup:before, sup:after, var:before, var:after,
b:before,
b:after, i:before, i:after, a:before, a:after, input:before, input:after, label:before, label:after, textarea:before, textarea:after,
dl:before,
dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
fieldset:before,
fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
article:before,
article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
footer:before,
footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
time:before,
time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after {
  box-sizing: border-box;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

textarea {
  resize: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------form elements*/
input, select {
  vertical-align: middle;
}

textarea {
  resize: none;
  overflow-y: auto;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

input:hover, input:focus, input:active,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:focus, button:active {
  outline: none;
}

input,
textarea {
  box-sizing: border-box;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #929ea3;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #929ea3;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important;
}

/*-----------------------------form elements###*/
/* grid */
.g_row {
  position: relative;
}
@media only screen and (max-width: 1019px) {
  .g_row {
    margin-left: -4px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .g_row {
    margin-left: -4px;
  }
}
@media only screen and (min-width: 1020px) {
  .g_row {
    margin-left: -20px;
  }
}

@media screen and (min-width: 1020px) {
  [class*=g_col_l_] {
    float: left;
    position: relative;
    padding-left: 20px;
  }

  .g_col_l_1 {
    width: 8.33333333%;
  }

  .g_col_l_2 {
    width: 16.66666667%;
  }

  .g_col_l_3 {
    width: 25%;
  }

  .g_col_l_4 {
    width: 33.33333333%;
  }

  .g_col_l_5 {
    width: 41.66666667%;
  }

  .g_col_l_6 {
    width: 50%;
  }

  .g_col_l_7 {
    width: 58.33333333%;
  }

  .g_col_l_8 {
    width: 66.66666667%;
  }

  .g_col_l_9 {
    width: 75%;
  }

  .g_col_l_10 {
    width: 83.33333333%;
  }

  .g_col_l_11 {
    width: 91.66666667%;
  }

  .g_col_l_12 {
    width: 100%;
  }
}
@media screen and (max-width: 1020px) {
  [class*=g_col_s_] {
    position: relative;
    float: left;
    padding-left: 4px;
  }

  .g_col_s_1 {
    width: 8.33333333%;
  }

  .g_col_s_2 {
    width: 16.66666667%;
  }

  .g_col_s_3 {
    width: 25%;
  }

  .g_col_s_4 {
    width: 33.33333333%;
  }

  .g_col_s_5 {
    width: 41.66666667%;
  }

  .g_col_s_6 {
    width: 50%;
  }

  .g_col_s_7 {
    width: 58.33333333%;
  }

  .g_col_s_8 {
    width: 66.66666667%;
  }

  .g_col_s_9 {
    width: 75%;
  }

  .g_col_s_10 {
    width: 83.33333333%;
  }

  .g_col_s_11 {
    width: 91.66666667%;
  }

  .g_col_s_12 {
    width: 100%;
  }

  .mob_indent_10 {
    margin-top: 10px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  [class*=g_col_s_] {
    position: relative;
    float: left;
    padding-left: 4px;
  }

  .g_col_s_1 {
    width: 8.33333333%;
  }

  .g_col_s_2 {
    width: 16.66666667%;
  }

  .g_col_s_3 {
    width: 25%;
  }

  .g_col_s_4 {
    width: 33.33333333%;
  }

  .g_col_s_5 {
    width: 41.66666667%;
  }

  .g_col_s_6 {
    width: 50%;
  }

  .g_col_s_7 {
    width: 58.33333333%;
  }

  .g_col_s_8 {
    width: 66.66666667%;
  }

  .g_col_s_9 {
    width: 75%;
  }

  .g_col_s_10 {
    width: 83.33333333%;
  }

  .g_col_s_11 {
    width: 91.66666667%;
  }

  .g_col_s_12 {
    width: 100%;
  }

  .mob_indent_10 {
    margin-top: 10px;
  }
}
.g_col_right {
  float: right;
}

@font-face {
  font-family: 'PTRoubleSans';
  src: url(../fonts/PTRoubleSans.eot);
  src: url(../fonts/PTRoubleSans.eot?#iefix) format("embedded-opentype"), url(../fonts/PTRoubleSans.svg) format("svg"), url(../fonts/PTRoubleSans.woff) format("woff"), url(../fonts/PTRoubleSans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans-regular.eot);
  src: url(../fonts/opensans-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans-regular.svg) format("svg"), url(../fonts/opensans-regular.woff) format("woff"), url(../fonts/opensans-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url(../fonts/opensans-light.eot);
  src: url(../fonts/opensans-light.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans-light.svg) format("svg"), url(../fonts/opensans-light.woff) format("woff"), url(../fonts/opensans-light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light Italic';
  src: url(../fonts/opensans-lightitalic.eot);
  src: url(../fonts/opensans-lightitalic.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans-lightitalic.svg) format("svg"), url(../fonts/opensans-lightitalic.woff) format("woff"), url(../fonts/opensans-lightitalic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed Light';
  src: url(../fonts/open_sans_condensed_light.eot);
  src: url(../fonts/open_sans_condensed_light.eot?#iefix) format("embedded-opentype"), url(../fonts/open_sans_condensed_light.svg) format("svg"), url(../fonts/open_sans_condensed_light.woff) format("woff"), url(../fonts/open_sans_condensed_light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url(../fonts/opensans-condbold.eot);
  src: url(../fonts/opensans-condbold.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans-condbold.svg) format("svg"), url(../fonts/opensans-condbold.woff) format("woff"), url(../fonts/opensans-condbold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url(../fonts/opensans-bold.eot);
  src: url(../fonts/opensans-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans-bold.svg) format("svg"), url(../fonts/opensans-bold.woff) format("woff"), url(../fonts/opensans-bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 1019px) {
  .f_el.search_field_h {
    padding-right: 10px;
  }
}
@media only screen and (min-width: 1020px) {
  .f_el.search_field_h {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin-left: 20px;
  }
}

.form_input {
  display: block;
  width: 100%;
}
.form_input.form_input_v1 {
  height: 28px;
  padding: 7px;
  text-transform: uppercase;
  border: 1px solid #404040;
  background: #fbfbfb;
  box-shadow: inset 0 0 1px #959595;
  font: 14px/1 "Open Sans Condensed Bold", sans-serif;
}
.form_input.form_input_v2 {
  height: 25px;
  padding: 7px;
  border: 1px solid #263e48;
  background: #fff;
  box-shadow: inset 0 0 1px #e1e1e1;
  text-align: center;
  font: 10px/11px "Open Sans Light", sans-serif;
}
.form_input.form_input_v3 {
  height: 19px;
  padding: 3px 5px;
  border: 1px solid #263e48;
  background: #fff;
  font: 10px/13px "Open Sans Light", sans-serif;
}
textarea.form_input.form_input_v3 {
  height: 65px;
}
@media only screen and (min-width: 1020px) {
  textarea.form_input.form_input_v3 {
    height: 90px;
  }
}
@media only screen and (min-width: 1020px) {
  .form_input.form_input_v3 {
    height: 24px;
    font: 14px/18px "Open Sans Light", sans-serif;
  }
}
div.form_input {
  position: relative;
}

.input_hidden {
  display: none;
}

.form_label.form_label_v1 {
  color: #263e48;
}

.btn_v1 {
  height: 28px;
}
.btn_v1.search_btn {
  float: left;
  position: relative;
  width: 28px;
  background: #fefefd;
  border: 1px solid #404040;
  box-shadow: inset 0 0 2px #959595;
}
.btn_v1.search_btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  background: url(../i/sprite.png) no-repeat -132px -6px;
}
@media only screen and (max-width: 1019px) {
  .btn_v1.search_btn {
    float: right;
  }
  .search_opened .btn_v1.search_btn {
    display: none;
  }
  .search_block .btn_v1.search_btn {
    display: block;
  }
}
.btn_v1.search_close_btn {
  float: left;
  position: relative;
  background: #fefefd;
  width: 28px;
  margin-left: 3px;
  border: 1px solid #404040;
  box-shadow: inset 0 0 2px #959595;
  display: none;
}
.btn_v1.search_close_btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  background: url(../i/sprite.png) no-repeat -101px -6px;
}
@media only screen and (max-width: 1019px) {
  .btn_v1.search_close_btn {
    float: right;
  }
}
.search_opened .btn_v1.search_close_btn {
  display: block;
}
.btn_v1.menu_toggle {
  float: left;
  position: relative;
  background: #fefefd;
  display: block;
  width: 28px;
  border: 1px solid #404040;
  box-shadow: inset 0 0 2px #959595;
}
.btn_v1.menu_toggle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  background: url(../i/sprite.png) no-repeat -70px -6px;
}

.btn_v2 {
  height: 17px;
}
.btn_v2.footer_btn {
  float: left;
  margin-right: 10px;
  padding: 0 2px;
  min-width: 103px;
  font: 12px/17px "Open Sans Light", sans-serif;
  text-align: center;
  text-decoration: none;
}

.btn_v3 {
  height: 32px;
}
.btn_v3.more_btn {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-bottom: 23px;
  font: 16px/28px "Open Sans Light", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 1019px) {
  .btn_v3.more_btn {
    padding: 0 20px;
    margin-bottom: 25px;
    margin-top: 10px;
  }
}

.btn_v4 {
  height: 30px;
}
.btn_v4.aside_btn {
  display: block;
  width: 100%;
  font: 12px/25px "Open Sans Light", sans-serif;
  text-decoration: none;
}
.btn_v4.callback_btn {
  padding: 0 14px;
  margin: 5px 0 17px;
  font-size: 17px;
}
@media only screen and (min-width: 1020px) {
  .btn_v4.callback_btn {
    margin: 14px 0;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1020px) {
  .btn_v4 {
    height: 25px;
  }
  .btn_v4.aside_btn {
    font: 10px/22px "Open Sans Light", sans-serif;
  }
}

.btn_v5 {
  position: absolute;
  top: 0;
  bottom: 0;
}
.btn_v5.file_upload_btn {
  cursor: pointer;
  right: 0;
  padding: 0 13px;
  font: 11px/16px "Open Sans Light", sans-serif;
}
@media only screen and (min-width: 1020px) {
  .btn_v5.file_upload_btn {
    line-height: 22px;
  }
}

.check_emul.check_v1 {
  font: 12px/13px "Open Sans Light", sans-serif;
}
.check_emul.check_v1 .check_text {
  padding-left: 25px;
}
.check_emul.check_v1 .check_text:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #314851;
  background: #ebebeb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWJlYmViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: radial-gradient(ellipse at center, #ebebeb 0%, #f3f3f3 49%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ebebeb', GradientType=1);
}
.check_emul.check_v1 .input_hidden:checked + .check_text:before {
  background: #8CCE5D;
}
@media only screen and (min-width: 1020px) {
  .check_emul.check_v1 {
    font: 11px/13px "Open Sans Light", sans-serif;
  }
  .check_emul.check_v1 .check_text {
    padding-left: 20px;
  }
  .check_emul.check_v1 .check_text:before {
    width: 9px;
    height: 9px;
  }
}

.check_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.gray_btn {
  background: #263e48;
  color: #fff;
  transition: background 0.3s;
}
.gray_btn:hover {
  background: #345461;
}

.yellow_btn {
  background: #ff8403;
  color: #fff;
  transition: background 0.3s;
}
.yellow_btn:hover {
  background: #e07003;
}

.yellow_btn_v2 {
  border: 2px solid #ff8403;
  color: #ff8403;
  background: transparent;
  transition: background 0.3s, color 0.3s;
}
.yellow_btn_v2:hover {
  background: #e07003;
  color: #fff;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1 "Open Sans", sans-serif;
  color: #263e48;
  background: #f2f9fb;
}

.hide {
  display: none !important;
}

@media only screen and (min-width: 1020px) {
  .mob_only {
    display: none;
  }
}

@media only screen and (max-width: 1019px) {
  .mob_hidden {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .mob_hidden {
    display: none;
  }
}

.wrapper {
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 1020px) {
  .wrapper {
    min-width: 940px;
    min-height: 100%;
  }
}

@media only screen and (min-width: 1020px) {
  .base {
    padding-bottom: 80px;
  }
}

.section {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1020px) {
  .section {
    margin-bottom: 53px;
  }
}

.section_inner {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
@media only screen and (max-width: 1019px) {
  .section_inner {
    padding: 0 20px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .section_inner {
    padding: 0 20px;
  }
}

.header {
  z-index: 12;
  position: relative;
  margin-top: 1px;
  padding: 10px 0 12px;
  border: solid #cd6900;
  border-width: 1px 0;
  background: #f7f4f0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjRmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y0ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: linear-gradient(to bottom, #f7f4f0 0%, #fff 51%, #f7f4f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f4f0', endColorstr='#f7f4f0', GradientType=0);
  box-shadow: inset 0 1px 1px #d2cfcb, inset 0 -1px 1px #d2cfcb, 0 2px 1px rgba(0, 0, 0, 0.3), 0 -2px 1px rgba(0, 0, 0, 0.3);
}
.header:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 1px;
  background: #e67601;
}
.header:after {
  z-index: 3;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 1px;
  background: #e67601;
}
@media only screen and (min-width: 1020px) {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .main_page .header {
    top: 26px;
    padding: 5px 0 3px;
  }
  .header.fixed_mod {
    position: fixed;
    top: 0 !important;
  }
}
.header .f_el {
  margin-top: 10px;
}

.logo {
  float: left;
  max-width: 200px;
}
.logo img {
  display: block;
  max-width: 100%;
}
@media only screen and (max-width: 1019px) {
  .logo {
    margin: 5px 0 0;
    float: none;
    display: inline-block;
    vertical-align: top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .logo {
    margin: 5px 0 0;
    float: none;
    display: inline-block;
    vertical-align: top;
  }
}

@media only screen and (max-width: 1019px) {
  .logo_holder {
    text-align: center;
    padding: 0 40px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .logo_holder {
    text-align: center;
    padding: 0 40px;
  }
}

.breadcrumbs_holder {
  margin-top: 67px;
  background: #4e4e4e;
  padding-left: 253px;
}
@media only screen and (max-width: 1019px) {
  .breadcrumbs_holder {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .breadcrumbs_holder {
    display: none;
  }
}
.breadcrumbs_holder.full_w_mod {
  padding-left: 5px;
}
.breadcrumbs_holder.wide_mod {
  position: relative;
}
.breadcrumbs_holder.wide_mod:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  left: 50%;
  margin-left: -5000px;
  background: inherit;
}

.breadcrumb_item {
  position: relative;
  float: left;
  padding-left: 12px;
}
.breadcrumb_item:before {
  content: '-';
  position: absolute;
  color: #d3d3d3;
  top: 6px;
  left: 3px;
}
.breadcrumb_item:first-child {
  padding-left: 0;
}
.breadcrumb_item:first-child:before {
  display: none;
}

.breadcrumb_link {
  font: 12px/25px "Open Sans Light", sans-serif;
}
.breadcrumb_link:hover {
  text-decoration: none;
}
a.breadcrumb_link {
  color: #ff8403;
}
span.breadcrumb_link {
  color: #fff;
}

.hero_block {
  position: relative;
  margin-bottom: 20px;
  min-height: 105px;
}
.hero_block:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1019px) {
  .hero_block {
    margin: 0 -20px 15px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .hero_block {
    margin: 0 -20px 15px;
  }
}

.hero_img {
  display: block;
  max-width: 175%;
}

.contacts_map_holder {
  position: relative;
  height: 250px;
}
@media only screen and (min-width: 1020px) {
  .contacts_map_holder {
    height: 480px;
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1019px) {
  .contacts_map_holder {
    max-width: 90%;
    margin: 0 auto 10px;
    overflow: hidden;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .contacts_map_holder {
    max-width: 90%;
    margin: 0 auto 10px;
    overflow: hidden;
  }
}

.contacts_map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.print_map_btn {
  position: relative;
  float: right;
  margin-top: 26px;
  background: #263e48;
  text-align: center;
  color: #fff;
  font: 12px/1 "Open Sans Light", sans-serif;
  text-decoration: none;
  padding: 37px 15px 10px;
  border-radius: 4px;
}
.print_map_btn:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -13px;
  width: 26px;
  height: 26px;
  background: url(../i/sprite.png) no-repeat -68px -38px;
}

.hero_text_holder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
@media only screen and (min-width: 1020px) {
  .hero_text_holder {
    padding-left: 240px;
  }
}

.hero_text {
  display: table;
  height: 100%;
  width: 100%;
}

.hero_caption {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font: 40px/48px "Open Sans Bold", sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}
@media only screen and (max-width: 1019px) {
  .hero_caption {
    font: 25px/30px "Open Sans Bold", sans-serif;
    text-align: center;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .hero_caption {
    font: 25px/30px "Open Sans Bold", sans-serif;
    text-align: center;
  }
}

.advantages_list {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1020px) {
  .advantages_list {
    margin-bottom: 35px;
  }
}

.advantage_item {
  position: relative;
  padding-left: 12px;
  margin-bottom: 6px;
  color: #263e48;
  font: 13px/16px "Open Sans Light", sans-serif;
}
.advantage_item:before {
  content: '';
  position: absolute;
  left: -3px;
  top: 6px;
  width: 8px;
  height: 8px;
  background: #f5841f;
}
@media only screen and (min-width: 1020px) {
  .advantage_item {
    padding-left: 30px;
  }
  .advantage_item:before {
    left: 12px;
  }
}

@media only screen and (min-width: 1020px) {
  .aside_left {
    position: absolute;
    top: -1px;
    left: 0;
    float: left;
    width: 230px;
    padding: 0 13px;
  }
  .aside_left + .main_content {
    margin-left: 240px;
  }
}

.aside_menu, .adds_block {
  background: #f8f8f8;
  border: 1px solid #ff8a01;
  box-shadow: inset 0 0 2px #d9cec2, 0 0 1px #874707, 0 0 7px rgba(0, 0, 0, 0.35);
}

.aside_menu {
  padding: 33px 10px 27px;
  margin-bottom: 30px;
}

.adds_block {
  padding: 10px;
  text-align: center;
}
@media only screen and (min-width: 1020px) {
  .adds_block {
    margin: 25px 15px;
  }
}

.adds_caption {
  margin-bottom: 10px;
  color: #ff8403;
  font: 15px/1 "Open Sans Light", sans-serif;
}
@media only screen and (min-width: 1020px) {
  .adds_caption {
    margin-bottom: 15px;
    font: 12px/1 "Open Sans Light", sans-serif;
  }
}

.adds_text {
  color: #263e48;
  font: 13px/14px "Open Sans Light", sans-serif;
}
@media only screen and (min-width: 1020px) {
  .adds_text {
    font: 10px/12px "Open Sans Light", sans-serif;
  }
}

.adds_controls {
  padding: 0 10px;
}
.adds_controls .f_el {
  display: inline-block;
  vertical-align: top;
  width: 156px;
  margin: 18px 0 10px;
}
@media only screen and (min-width: 1020px) {
  .adds_controls .f_el {
    margin: 10px 0;
    width: 100%;
  }
}

.sub_menu {
  text-align: center;
}

.sub_menu_item {
  margin-bottom: 13px;
}

.sub_m_link {
  color: #132d38;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: -.5px;
}
.sub_m_link:hover {
  text-decoration: underline;
}
.sub_m_link.active {
  color: #ff7f00;
  cursor: default;
  text-decoration: none;
}

@media only screen and (min-width: 1020px) {
  .main_content.form_holder {
    padding-top: 15px;
  }
  .main_content.form_holder.contact_forms:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    top: 0;
    bottom: 0;
    background: #cdd7db;
  }
}
@media only screen and (min-width: 1020px) {
  .main_content.contact_forms:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    top: 0;
    bottom: 0;
    background: #cdd7db;
  }
}

.text_block {
  padding-top: 3px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -.4px;
}
.text_block h3 {
  margin-bottom: 17px;
}
.text_block p {
  margin-bottom: 17px;
}
.text_block b {
  font-family: "Open Sans Bold", sans-serif;
}
.text_block > ul {
  margin-bottom: 20px;
}
.text_block > ul li {
  position: relative;
  padding-left: 22px;
  margin-bottom: 6px;
}
.text_block > ul li:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 3px;
  width: 10px;
  height: 10px;
  background: #f5841f;
}
@media only screen and (min-width: 1020px) {
  .text_block > ul li {
    padding-left: 38px;
    font: 13px/16px "Open Sans", sans-serif;
  }
  .text_block > ul li:before {
    left: 20px;
  }
}
@media only screen and (min-width: 1020px) {
  .text_block > ul {
    margin-bottom: 35px;
  }
}
@media only screen and (min-width: 1020px) {
  .text_block {
    padding-top: 0;
    font-size: 13px;
    line-height: 15px;
  }
}

.certificate_text {
  font-size: 13px;
  line-height: 14px;
}
.certificate_text p {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1020px) {
  .certificate_text {
    padding-top: 7px;
    font-size: 16px;
    line-height: 19px;
  }
}

.certificate_list {
  margin-left: -15px;
}
@media only screen and (min-width: 1020px) {
  .certificate_list {
    margin-left: -20px;
  }
}

.certificate_item {
  float: left;
  text-align: center;
  padding-left: 15px;
  width: 33.3%;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1020px) {
  .certificate_item {
    width: 20%;
    padding-left: 20px;
    margin-bottom: 20px;
  }
}

.certificate_photo {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #b5bec2;
}

.certificate_img {
  display: block;
  max-width: 100%;
}

.certificate_caption {
  font-size: 10px;
  margin-top: 8px;
  padding: 3px;
  background: #cdd7db;
}
@media only screen and (min-width: 1020px) {
  .certificate_caption {
    font-size: 11px;
  }
}

.vacancies_list {
  margin-top: 25px;
}

.vacancy_item {
  border-top: 1px solid #cdd7db;
  padding-top: 10px;
}
.vacancy_item:first-child {
  padding-top: 0;
  border-top: none;
}

.vacancy_caption {
  line-height: 26px;
  margin-bottom: 14px;
}

.vacancy_name {
  color: #ff8403;
  font-size: 14px;
}
@media only screen and (min-width: 1020px) {
  .vacancy_name {
    font-size: 22px;
  }
}

.vacancy_price {
  padding-left: 5px;
  color: #263e48;
  font: 12px "Open Sans Light", sans-serif;
  text-decoration: underline;
}
@media only screen and (min-width: 1020px) {
  .vacancy_price {
    font-size: 15px;
  }
}

.vacancy_description {
  font: 12px/13px "Open Sans Light", sans-serif;
}
.vacancy_description p {
  margin-bottom: 20px;
}

.vacancy_link {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  color: #ff8403;
  font: 13px "Open Sans Light", sans-serif;
  letter-spacing: .25px;
}

.form_right {
  position: relative;
}
.form_right:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -20px;
  left: -20px;
  height: 1px;
  background: #ced7da;
}
.contact_forms .form_right:before {
  display: none;
}
@media only screen and (min-width: 1020px) {
  .form_right {
    float: right;
    width: 330px;
    margin: -5px 0 50px 20px;
    padding: 0 15px 0 24px;
    border: solid #cdd7db;
    border-width: 0 0 1px 1px;
  }
  .form_right:before {
    display: none;
  }
  .contact_forms .form_right {
    width: 50%;
    margin-left: 0;
    border-width: 0;
    padding-left: 10px;
  }
}

.form_caption {
  font-size: 22px;
  color: #263e48;
  text-align: center;
  margin-bottom: 12px;
}
@media only screen and (min-width: 1020px) {
  .form_caption {
    text-align: left;
    margin-bottom: 0;
  }
}
.contact_forms .form_caption {
  margin-bottom: 10px;
  font-size: 24px;
}
@media only screen and (min-width: 1020px) {
  .contact_forms .form_caption {
    font-size: 26px;
  }
}

.form_tip {
  font: 12px/15px "Open Sans Light", sans-serif;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1020px) {
  .form_tip {
    font-size: 9px;
    line-height: normal;
    margin-bottom: 15px;
  }
}

.form_cell_v1 .form_cell {
  font-size: 11px;
  line-height: 22px;
  margin-bottom: 6px;
}
@media only screen and (min-width: 1020px) {
  .form_cell_v1 .form_cell {
    margin-bottom: 8px;
  }
}

.service_block {
  border: solid #cdd7db;
  border-width: 0 8px 8px;
  margin-bottom: 15px;
  text-align: center;
}
.service_block.active {
  border-color: #f8c48b;
}

.service_block_caption {
  background: #cdd7db;
  color: #263e48;
  font: 12px/22px "Open Sans Light", sans-serif;
}
.active .service_block_caption {
  background: #f8c48b;
}
@media only screen and (min-width: 1020px) {
  .service_block_caption {
    padding-top: 3px;
    font: 15px/25px "Open Sans Light", sans-serif;
  }
}

.service_block_info {
  display: table-cell;
  vertical-align: middle;
  height: 130px;
  width: 100%;
  color: #263e48;
  font: 12px/14px "Open Sans Light", sans-serif;
}
.service_block_info p {
  margin-bottom: 2px;
}
@media only screen and (min-width: 1020px) {
  .service_block_info {
    height: 157px;
  }
}

.slider_wrapper {
  position: relative;
  overflow: hidden;
}

.main_slider_controls {
  height: 34px;
  line-height: 30px;
  background: #263e48;
  border-top: 1px solid #3d6272;
  border-bottom: 1px solid #1b2c33;
  box-shadow: inset 0 1px 1px #365562, 0 0 7px rgba(0, 0, 0, 0.35);
}
@media only screen and (max-width: 1019px) {
  .main_slider_controls {
    height: 50px;
    line-height: 46px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .main_slider_controls {
    height: 50px;
    line-height: 46px;
  }
}

.slider_controls {
  position: relative;
}

.slider_btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 29px;
  height: 29px;
  border: 1px solid #f4f4f4;
  box-shadow: inset 0 0 2px #fff;
  opacity: .5;
  transition: opacity 0.3s;
}
.slider_btn:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
}
.slider_btn:hover {
  opacity: 1;
}
.slider_btn.slider_prev:before {
  background: url(../i/sprite.png) no-repeat -7px -7px;
}
.slider_btn.slider_next:before {
  background: url(../i/sprite.png) no-repeat -38px -7px;
}
@media only screen and (max-width: 1019px) {
  .slider_btn {
    width: 20px;
    height: 20px;
  }
  .slider_btn.slider_prev {
    margin: -5px 0 0 -10px;
  }
  .slider_btn.slider_prev:before {
    background: url(../i/sprite.png) no-repeat 0 -34px;
  }
  .slider_btn.slider_next {
    margin: -5px  -10px 0 0;
  }
  .slider_btn.slider_next:before {
    background: url(../i/sprite.png) no-repeat -18px -34px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .slider_btn {
    width: 20px;
    height: 20px;
  }
  .slider_btn.slider_prev {
    margin: -5px 0 0 -10px;
  }
  .slider_btn.slider_prev:before {
    background: url(../i/sprite.png) no-repeat 0 -34px;
  }
  .slider_btn.slider_next {
    margin: -5px  -10px 0 0;
  }
  .slider_btn.slider_next:before {
    background: url(../i/sprite.png) no-repeat -18px -34px;
  }
}

.slider_bullets {
  text-align: center;
}
@media only screen and (min-width: 1020px) {
  .slider_bullets {
    width: 100% !important;
    margin: 0 !important;
    display: table;
    table-layout: fixed;
  }
  .slider_bullets .ctm_clone {
    display: none;
  }
}

.slider_bullet_item {
  float: left;
}
@media only screen and (min-width: 1020px) {
  .slider_bullet_item {
    width: auto !important;
    float: none;
    display: table-cell;
  }
}

.slider_bullet {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 11px;
  line-height: 15px;
  color: #fff;slider
  text-decoration: none;
  letter-spacing: -.5px;
  text-shadow: 0 0 5px transparent;
  transition: text-shadow 0.3s, color 0.3s;
}
.slider_bullet:hover {
  text-shadow: 0 0 5px #fff;
}
.active .slider_bullet {
  cursor: default;
  /*color: #ff8403;*/
}

.slider {
  height: auto;
  /*height: 475px;*/
}
@media only screen and (max-width: 1019px) {
  .slider {
    height: auto
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .slider {
    height:auto;
  }
}

.slide {
  overflow: hidden;
  position: relative;
  float: left;
  height: 100%;
}

.slide_inner {
  /*position: absolute;*/
  width: 100%;
  /*
  left: 50%;
  top: 0;
  width: 1980px;
  margin-left: -990px;
  */
}
@media only screen and (max-width: 1019px) {
  .slide_inner {
    width: 100%;
    margin: 0 !important;
    position: static;
    /*width: 1020px;
    margin-left: -510px;*/
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
  .slide_inner {
    width: 100%;
    margin: 0 !important;
    position: static;
    /*width: 1020px;
      margin-left: -510px;
    */
  }
}

.slide_content {
z-index: 1;
position: absolute;
top: 140px;
bottom: 0;
left: 0;
right: 0;
color: #fff;
}

@media only screen and (max-width: 1019px) {
.slide_info_panel {
  display: none;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.slide_info_panel {
  display: none;
}
}

.slide_img {
display: block;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 1019px) {
.slide_img {
  max-width: 100%;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.slide_img {
  max-width: 100%;
}
}

.slide_info_box {
float: left;
clear: both;
background: #263e48;
border: 1px solid #ff8403;
padding: 7px 17px;
color: #fff;
font: 22px/1 "Open Sans Bold", sans-serif;
text-transform: uppercase;
box-shadow: 0 3px 5px rgba(2, 2, 2, 0.35);
opacity: 0.8;
}
.slide_info_box + .slide_info_box {
margin-top: -1px;
margin-left: 16px;
}
.slide_info_box + .slide_info_box + .slide_info_box {
margin-top: -1px;
margin-left: 32px;
}

.feature_slider {
overflow: hidden;
}
@media only screen and (min-width: 620px) {
.feature_slider {
  width: auto !important;
  margin: 0 !important;
  padding-right: 0;
}
.feature_slider .ctm_clone {
  display: none;
}
}

.feature_list {
float: left;
padding-left: 0;
overflow: hidden;
}
@media only screen and (max-width: 619px) {
.feature_list {
  padding: 8px 12px 0 0;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.feature_list {
  padding: 8px 12px 0 0;
}
}
@media only screen and (min-width: 620px) {
.feature_slider .feature_list {
  width: 50% !important;
}
.mob_full_w .feature_list {
  width: 25% !important;
  margin-bottom: 10px;
}
.feature_list:first-child {
  margin-left: 0;
}
}
@media only screen and (min-width: 1020px) {
.feature_list {
  margin-left: 0;
  margin-bottom: -25px;
  padding-right: 0;
}
}

@media only screen and (min-width: 620px) {
.feature_slider_controls {
  display: none;
}
}

.feature_dot {
display: inline-block;
vertical-align: top;
width: 8px;
height: 8px;
margin: 10px 2px 5px;
background: #9f5406;
transition: background 0.3s;
}
.feature_dot:hover {
background: #ff8403;
}
.feature_dot.active {
cursor: default;
background: #ff8403;
}

.feature_control {
position: absolute;
top: 50%;
width: 20px;
height: 30px;
margin-top: -20px;
opacity: .5;
transition: opacity 0.3s;
}
.feature_control:before {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.feature_control:hover {
opacity: 1;
}
.feature_control.prev_feature {
left: -10px;
}
.feature_control.prev_feature:before {
background: url(../i/sprite.png) no-repeat -198px -2px;
}
.feature_control.next_feature {
right: -10px;
}
.feature_control.next_feature:before {
background: url(../i/sprite.png) no-repeat -224px -2px;
}

.feature_item {
float: left;
margin-bottom: 12px;
padding-left: 12px;
}
.feature_slider .feature_item {
width: 50%;
}
.mob_full_w .feature_item {
width: 100%;
}
.category_mod .feature_item {
margin-bottom: 15px;
}
@media only screen and (min-width: 1020px) {
.category_mod .feature_item {
  margin-bottom: 50px;
}
}
@media only screen and (min-width: 1020px) {
.feature_item {
  margin-bottom: 25px;
  padding-left: 20px;
}
}

.feature_box {
overflow: hidden;
display: block;
background: #b7b7b7;
border: 2px solid #b6b6b6;
box-shadow: inset 0 0 3px #d0d0d0;
text-decoration: none;
transition: background 0.3s, border-color 0.3s, box-shadow 0.3s;
}
.feature_box:hover {
background: #ff8402;
border-color: #ff8403;
box-shadow: inset 0 0 3px #ff9b32;
}

.feature_info {
border: solid #cdd7db;
border-width: 0 10px 10px;
}

.feature_img_w {
position: relative;
}
@media only screen and (min-width: 1020px) {
.feature_img_w {
  margin-bottom: 4px;
}
}

.feature_img {
display: block;
width: 100%;
}

.feature_description {
height: 20px;
line-height: 20px;
text-align: center;
color: #fff;
font-size: 8px;
}
.feature_description .middle_block {
  font-weight: bold;
  text-transform: uppercase;
}
.mob_full_w .feature_description {
font-size: 12px;
}
@media only screen and (min-width: 1020px) {
.feature_description {
  height: 40px;
  font-size: 12px;
  line-height: 35px;
}
}
@media only screen and (max-width: 400px) {
  .feature_description .middle_block {
    font-size: 7px;
  }
}

.feature_overview {
padding: 0 5px 5px;
color: #fff;
font: 12px/75px "Open Sans", sans-serif;
text-align: center;
}
@media only screen and (min-width: 1020px) {
.feature_overview {
  line-height: 55px;
}
.feature_overview .middle_block {
  line-height: 13px;
}
}

.feature_title {
background: #cdd7db;
height: 35px;
font: 10px/35px "Open Sans", sans-serif;
color: #263e48;
text-align: center;
}
@media only screen and (min-width: 1020px) {
.feature_title {
  line-height: 30px;
  height: 30px;
  font-size: 10px;
}
}

.feature_option {
display: table;
width: 100%;
height: 100px;
background: #f2f9fb;
}
@media only screen and (min-width: 1020px) {
.feature_option {
  height: 77px;
}
}

.feature_cell {
width: 50%;
display: table-cell;
vertical-align: middle;
font: 12px "Open Sans", sans-serif;
text-align: center;
}
@media only screen and (min-width: 1020px) {
.feature_cell {
  font-size: 11px;
}
}

.feature_val {
font-size: 15px;
}
@media only screen and (min-width: 1020px) {
.feature_val {
  font-size: 12px;
}
}

.work_approach {
position: relative;
height: 175px;
overflow: hidden;
box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.35);
}
@media only screen and (max-width: 1019px) {
.work_approach {
  margin-left: -20px;
  margin-right: -20px;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.work_approach {
  margin-left: -20px;
  margin-right: -20px;
}
}
@media only screen and (min-width: 1020px) {
.work_approach {
  border: solid #335b6e;
  border-width: 2px 1px;
  height: 200px;
}
}

.approach_splitbar {
cursor: w-resize;
z-index: 2;
position: absolute;
top: 0;
bottom: 0;
width: 2px;
left: 50%;
margin-left: -1px;
background: #ff8403;
border-right: 1px solid #263e48;
}
.approach_splitbar:before {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: -15px;
right: -15px;
}

.approach_right,
.approach_left {
display: block;
position: relative;
overflow: hidden;
}
@media only screen and (max-width: 1019px) {
.approach_right,
.approach_left {
  height: 100%;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.approach_right,
.approach_left {
  height: 100%;
}
}
@media only screen and (min-width: 1020px) {
.approach_right,
.approach_left {
  width: 100%;
  position: absolute;
  top: 0;
}
}

.approach_img {
display: block;
width: 100%;
}
@media only screen and (max-width: 1019px) {
.approach_img {
  min-height: 100%;
  -webkit-filter: blur(2.8px);
          filter: blur(2.8px);
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.approach_img {
  min-height: 100%;
  -webkit-filter: blur(2.8px);
          filter: blur(2.8px);
}
}

@media only screen and (min-width: 1020px) {
.approach_right {
  right: -50%;
}
}

@media only screen and (min-width: 1020px) {
.approach_left {
  left: -50%;
}
}

.approach_controls {
position: absolute;
left: 0;
right: 0;
top: 110px;
text-align: center;
}

.approach_btn {
text-transform: uppercase;
padding: 0 15px;
text-decoration: none;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
transition: background 0.3s, color 0.3s;
}
@media only screen and (max-width: 1019px) {
.approach_btn {
  position: relative;
  font: 11px/29px "Open Sans Light", sans-serif;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.approach_btn {
  position: relative;
  font: 11px/29px "Open Sans Light", sans-serif;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
}
@media only screen and (min-width: 1020px) {
.approach_btn {
  z-index: 1;
  position: absolute;
  top: 122px;
  min-width: 153px;
  font: 14px/35px "Open Sans Light", sans-serif;
}
}
.approach_btn:before {
content: '';
position: absolute;
top: 50%;
width: 18px;
height: 32px;
margin-top: -16px;
}
@media only screen and (max-width: 1019px) {
.approach_btn:before {
  display: none;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.approach_btn:before {
  display: none;
}
}
.approach_btn.approach_left_btn {
right: 0;
border: 1px solid #ff8403;
background: rgba(27, 44, 51, 0.8);
color: #ff8403;
text-align: right;
}
.approach_btn.approach_left_btn:before {
left: 3px;
background: url(../i/sprite.png) no-repeat -160px -1px;
}
.approach_btn.approach_left_btn:hover {
background: #1b2c33;
}
.approach_btn.approach_right_btn {
left: 0;
border: 1px solid #263e48;
background: rgba(255, 132, 3, 0.8);
color: #263e48;
text-align: left;
}
.approach_btn.approach_right_btn:before {
right: 3px;
background: url(../i/sprite.png) no-repeat -172px -1px;
}
.approach_btn.approach_right_btn:hover {
background: #ff8403;
}

.approach_description {
opacity: 0;
position: absolute;
top: 25px;
max-width: 70%;
z-index: -1;
transition: opacity 0.3s;
}
.approach_left .approach_description {
left: 0;
text-align: left;
}
.approach_right .approach_description {
right: 0;
text-align: right;
}
.show_description .approach_description {
opacity: 1;
z-index: 0;
}

.approach_caption {
display: inline-block;
vertical-align: top;
min-width: 430px;
padding: 0 10px;
margin-bottom: 10px;
text-align: center;
font: 19px/35px "Open Sans Light", sans-serif;
letter-spacing: -.2px;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}
.approach_right .approach_caption {
color: #263e48;
background: rgba(255, 132, 3, 0.8);
border: 1px solid #263e48;
}
.approach_left .approach_caption {
color: #ff8403;
background: rgba(27, 44, 51, 0.8);
border: 1px solid #ff8403;
}

.approach_info {
display: inline-block;
vertical-align: top;
padding: 8px 20px;
font: 14px/17px "Open Sans Light", sans-serif;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}
.approach_right .approach_info {
color: #263e48;
background: rgba(255, 132, 3, 0.8);
border: 1px solid #263e48;
}
.approach_left .approach_info {
color: #ff8403;
background: rgba(27, 44, 51, 0.8);
border: 1px solid #ff8403;
}

.approach_text {
z-index: 1;
position: absolute;
top: 25px;
width: 100%;
font: 26px/30px "Open Sans Bold", sans-serif;
text-align: center;
text-transform: uppercase;
opacity: 1;
transition: opacity 0.3s;
}
.approach_right .approach_text {
color: #ff8100;
}
@media only screen and (min-width: 1020px) {
.approach_right .approach_text {
  left: -50%;
  text-shadow: 0 0 7px #263e48;
}
}
.approach_left .approach_text {
color: #ff8403;
}
@media only screen and (min-width: 1020px) {
.approach_left .approach_text {
  left: 50%;
  text-shadow: 0 0 7px #263e48;
}
}
.hide_text .approach_text {
opacity: 0;
z-index: -1;
}
@media only screen and (max-width: 1019px) {
.approach_text {
  top: 36px;
  left: 0;
  right: 0;
  font: 18px/22px "Open Sans Bold", sans-serif;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.approach_text {
  top: 36px;
  left: 0;
  right: 0;
  font: 18px/22px "Open Sans Bold", sans-serif;
}
}

.news_block {
margin: 0 -20px;
padding: 0 16px;
border: 10px solid #cdd7db;
}
@media only screen and (min-width: 1020px) {
.news_block {
  margin: 0 -26px;
}
}

.news_title {
margin: 15px 0 25px;
text-transform: uppercase;
color: #263e48;
font: 20px/1 "Open Sans Light", sans-serif;
}
@media only screen and (min-width: 1020px) {
.news_title {
  margin: 25px 0 30px;
  font-size: 28px;
}
}

.news_unit {
margin-right: -10px;
margin-bottom: 60px;
}
@media only screen and (max-width: 1019px) {
.news_unit {
  margin-bottom: 22px;
  max-height: 100px;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.news_unit {
  margin-bottom: 22px;
  max-height: 100px;
}
}

.news_img_w {
width: 95px;
float: left;
}
.news_img_w + .news_description {
margin-left: 106px;
}
@media only screen and (min-width: 1020px) {
.news_img_w {
  width: 108px;
}
.news_img_w + .news_description {
  margin-left: 122px;
}
}

.news_img {
display: block;
width: 100%;
}

.news_link {
display: inline-block;
vertical-align: top;
margin-top: -3px;
color: #ee7d06;
font-size: 12px;
line-height: 14px;
letter-spacing: -.6px;
}

.news_preview {
margin-top: 12px;
color: #263e48;
font-size: 12px;
line-height: 12px;
letter-spacing: -.4px;
}
@media only screen and (max-width: 1019px) {
.news_preview {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.news_preview {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
}

.employee_slider_holder {
border: 10px solid #cdd7db;
margin: 0 -20px 5px;
}
@media only screen and (min-width: 1020px) {
.employee_slider_holder {
  border-width: 8px;
  margin: 30px 0 45px;
}
}

.employee_unit {
float: left;
padding: 7px;
}
@media only screen and (min-width: 1020px) {
.employee_unit {
  padding: 15px;
}
}

.employee_photo {
float: left;
width: 50px;
background: #f5fafc;
border: 1px solid #c9d4d7;
}
.employee_photo + .employee_description {
margin-left: 60px;
}
@media only screen and (min-width: 1020px) {
.employee_photo {
  width: 107px;
  box-shadow: 0 0 3px #e7eff1;
}
.employee_photo + .employee_description {
  margin-left: 130px;
}
}

.employee_img {
display: block;
max-width: 100%;
}

.employee_name {
margin-bottom: 15px;
font-size: 12px;
}
@media only screen and (min-width: 1020px) {
.employee_name {
  font-size: 18px;
  margin: 15px 0 5px;
}
}

.employee_post {
margin-bottom: 10px;
font: 10px "Open Sans Light Italic", sans-serif;
}
@media only screen and (min-width: 1020px) {
.employee_post {
  font-size: 12px;
}
}

.employee_overview {
margin-bottom: 20px;
}

.employee_bullets {
position: absolute;
bottom: 18px;
right: 15px;
}

.employee_bullet_item {
float: left;
margin-left: 5px;
}

.employee_bullet {
display: block;
width: 10px;
height: 10px;
background: #cdd7db;
}
.employee_bullet.active {
cursor: default;
background: #ff8403;
}
@media only screen and (min-width: 1020px) {
.employee_bullet {
  width: 12px;
  height: 12px;
}
}

.stat_list {
margin-bottom: 45px;
}

.stat_unit {
border-top: 1px solid #cdd7db;
padding-top: 40px;
margin-bottom: 20px;
}
.stat_unit:first-child {
border-top: none;
}
@media only screen and (min-width: 1020px) {
.stat_unit {
  padding-top: 30px;
}
}

.stat_counter {
text-align: center;
}
@media only screen and (min-width: 1020px) {
.stat_counter {
  float: left;
  width: 200px;
  padding-left: 20px;
}
.stat_counter + .stat_graph_holder {
  margin-left: 210px;
}
}

.stat_counter_box {
display: inline-block;
vertical-align: top;
width: 165px;
background: #fff;
margin-bottom: 25px;
padding: 15px 0;
border: 3px solid #ff8403;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}
@media only screen and (min-width: 1020px) {
.stat_counter_box {
  width: 130px;
  padding: 5px 0 15px;
}
}

.stat_val {
color: #ff8403;
font-size: 60px;
line-height: 1;
}
@media only screen and (min-width: 1020px) {
.stat_val {
  font-size: 48px;
}
}

.stat_text {
font-size: 22px;
}
@media only screen and (max-width: 1019px) {
.stat_text {
  font-size: 28px;
  line-height: 1;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.stat_text {
  font-size: 28px;
  line-height: 1;
}
}

.stat_graph_caption {
margin-bottom: 30px;
padding-top: 10px;
padding-left: 5px;
font: 13px "Open Sans Light", sans-serif;
}

.stat_graph_img {
display: block;
max-width: 100%;
}

.stat_icon {
margin-bottom: 25px;
}
@media only screen and (min-width: 1020px) {
.stat_icon {
  margin-bottom: 15px;
}
}

.stat_img {
display: inline-block;
vertical-align: top;
max-width: 80px;
}

.stat_icon_tip {
font-size: 20px;
}
@media only screen and (min-width: 1020px) {
.stat_icon_tip {
  font-size: 16px;
  line-height: 18px;
}
}

.partner_item {
background: #cdd7db;
padding: 4px 0;
margin-bottom: 7px;
font: 11px "Open Sans Light", sans-serif;
text-align: center;
}
@media only screen and (min-width: 1020px) {
.partner_item {
  padding: 6px 0;
  margin-bottom: 9px;
  font-size: 13px;
  letter-spacing: -.2px;
}
}

.partners_map {
margin: -20px 0 75px;
}
.partners_map img {
display: block;
}

.article_list {
margin: 30px -8px 25px;
}
@media only screen and (min-width: 1020px) {
.article_list {
  margin: 0 0 40px;
}
}

.article_unit {
border-top: 1px solid #cdd7db;
margin-bottom: 6px;
padding-top: 10px;
}
.article_unit:first-child {
border-top: none;
padding-top: 0;
}

.article_photo {
float: left;
width: 90px;
}
.article_photo + .article_text {
margin-left: 105px;
}
@media only screen and (min-width: 1020px) {
.article_photo {
  width: 135px;
}
.article_photo + .article_text {
  margin-left: 160px;
}
}

.article_text {
position: relative;
padding-bottom: 15px;
}
.article_text p {
font-size: 12px;
line-height: 15px;
}
@media only screen and (min-width: 1020px) {
.article_text p {
  font-size: 14px;
  line-height: 16px;
}
}

.article_img {
display: block;
max-width: 100%;
}

.article_title {
margin: 25px 0 20px;
font-size: 22px;
}

.article_caption_holder {
position: relative;
display: inline-block;
vertical-align: top;
width: 100%;
padding-top: 15px;
margin-bottom: 5px;
}
@media only screen and (min-width: 1020px) {
.article_caption_holder {
  padding-top: 12px;
}
}

.equipment_unit {
padding-bottom: 10px;
margin-bottom: 20px;
position: relative;
}
.equipment_unit:before {
content: '';
position: absolute;
bottom: 0;
left: -20px;
right: -20px;
height: 1px;
background: #cdd7db;
}
.equipment_unit:first-child:before {
display: none;
}
@media only screen and (min-width: 1020px) {
.equipment_unit:before {
  left: 0;
  right: 0;
}
}

.equipment_caption {
margin-bottom: 10px;
color: #ff8403;
font-size: 16px;
}
@media only screen and (min-width: 1020px) {
.equipment_caption {
  font-size: 24px;
}
}

.article_caption {
float: left;
padding-right: 3px;
text-transform: uppercase;
color: #ff8403;
font-size: 12px;
letter-spacing: .3px;
text-decoration: underline;
}
.article_caption:hover {
text-decoration: none;
}
@media only screen and (min-width: 1020px) {
.article_caption {
  font-size: 14px;
}
}

.article_date {
position: absolute;
top: 0;
left: 0;
font: 10px "Open Sans Light Italic", sans-serif;
}
@media only screen and (min-width: 1020px) {
.article_date {
  position: relative;
  float: left;
}
}

.article_date_v2 {
font: 9px "Open Sans Light", sans-serif;
margin-bottom: 5px;
}

.more_info {
position: absolute;
bottom: 4px;
right: 0;
text-decoration: underline;
color: #354c55;
font-size: 11px;
}
.more_info:hover {
text-decoration: none;
}
@media only screen and (min-width: 1020px) {
.more_info {
  font-size: 13px;
}
}

.pagination_list {
margin-bottom: 10px;
text-align: center;
}
@media only screen and (min-width: 1020px) {
.pagination_list {
  margin-bottom: 45px;
}
}

.pagination_item {
display: inline-block;
vertical-align: top;
margin-right: 1px;
}

.pagination_link {
position: relative;
display: block;
width: 21px;
height: 21px;
border: 1px solid #596b74;
text-decoration: none;
font-size: 14px;
line-height: 19px;
color: #000f1b;
transition: color 0.3s, border 0.3s;
}
.pagination_link:hover {
border-color: #f69c4b;
}
.pagination_link.active {
cursor: default;
border-color: #f69c4b;
color: #f57402;
}
.pagination_link.pagination_next:before, .pagination_link.pagination_prev:before {
content: '';
position: absolute;
width: 10px;
height: 13px;
top: 50%;
left: 50%;
margin: -6px 0 0 -4px;
}
.pagination_link.pagination_prev:before {
background: url(../i/sprite.png) no-repeat -41px -39px;
}
.pagination_link.pagination_next:before {
background: url(../i/sprite.png) no-repeat -50px -39px;
}

.design_unit {
position: relative;
margin-bottom: 4px;
border: 1px solid #cdd7db;
}
@media only screen and (min-width: 1020px) {
.design_unit {
  margin-bottom: 20px;
}
}

.design_img_w {
text-align: center;
}

.design_img {
display: inline-block;
vertical-align: top;
max-width: 100%;
}

.design_descripiton {
position: absolute;
bottom: 3px;
right: 5px;
left: 3px;
}

.design_link {
float: left;
color: #263e48;
font-size: 11px;
line-height: 20px;
text-decoration: underline;
}
.design_link:hover {
text-decoration: none;
}

.design_info {
float: right;
background: #263e48;
color: #fff;
font-size: 16px;
line-height: 20px;
padding: 0 9px;
}

.tabs_block.tabs_block_v1 {
margin: 0 -20px 20px;
}
@media only screen and (min-width: 1020px) {
.tabs_block.tabs_block_v1 {
  margin: 0 0 20px;
}
}

.tab_control {
float: left;
}
.tabs_block_v1 .tab_control {
margin-left: 2px;
min-width: 152px;
}
.tabs_block_v1 .tab_control:first-child {
margin-left: 0;
}
@media only screen and (min-width: 1020px) {
.tabs_block_v1 .tab_control {
  min-width: 142px;
}
}

.tab_link {
display: block;
font-size: 12px;
line-height: 25px;
color: #263e48;
text-align: center;
text-decoration: underline;
}
.tab_link:hover {
text-decoration: none;
}
.active .tab_link {
font-size: 16px;
line-height: 27px;
text-decoration: none;
cursor: default;
}
.tabs_block_v1 .tab_link {
background: #cdd7db;
}

.tabs_holder {
position: relative;
}
.tabs_block_v1 .tabs_holder {
border: 10px solid #cdd7db;
}

.tab_unit {
display: none;
}
.tab_unit.active {
display: block;
}
.tabs_block_v1 .tab_unit {
padding: 24px 15px 15px;
}

.contact_list {
font-size: 15px;
}

.contact_val {
margin-bottom: 9px;
padding-left: 0;
font-family: "Open Sans Light", sans-serif;
}

.contact_item {
clear: both;
margin-bottom: 9px;
padding-right: 3px;
letter-spacing: .2px;
}

.menu_block {
display: none;
}
@media only screen and (max-width: 1019px) {
.menu_block {
  position: absolute;
  top: 100%;
  margin-top: 14px;
  left: -20px;
  right: -20px;
  padding: 5px 20px 10px;
  background: #fafafa;
  box-shadow: inset 0 3px 10px #d2cfcb;
}
.menu_opened .menu_block {
  display: block;
}
.menu_opened .menu_block:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: -300px;
  right: -300px;
  bottom: 0;
  background: #fafafa;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.menu_block {
  position: absolute;
  top: 100%;
  margin-top: 14px;
  left: -20px;
  right: -20px;
  padding: 5px 20px 10px;
  background: #fafafa;
  box-shadow: inset 0 3px 10px #d2cfcb;
}
.menu_opened .menu_block {
  display: block;
}
.menu_opened .menu_block:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: -300px;
  right: -300px;
  bottom: 0;
  background: #fafafa;
}
}
@media only screen and (min-width: 1020px) {
.menu_block {
  display: block;
}
}

.main_menu {
position: relative;
}
@media only screen and (min-width: 1020px) {
.main_menu {
  padding: 20px 0 0;
  margin-left: -10px;
}
}

.menu_item {
padding: 4px 0;
}
@media only screen and (min-width: 1020px) {
.menu_item {
  float: left;
  margin-left: 10px;
  padding: 0;
}
}

.menu_link {
cursor: pointer;
color: #787777;
font: 13px/1 "Open Sans Condensed Bold", sans-serif;
text-transform: uppercase;
text-decoration: none;
}
.menu_link:hover {
color: #ff8403;
text-decoration: underline;
}
.menu_link.active {
cursor: default;
color: #ff8403;
text-decoration: none;
}

.search_block {
display: none;
z-index: 1;
position: absolute !important;
}
@media only screen and (max-width: 1019px) {
.search_block {
  top: 100%;
  margin-top: 14px;
  left: 0;
  right: 0;
  padding: 5px 0 15px;
  background: #fafafa;
}
.search_block:before {
  content: '';
  position: absolute;
  top: 0;
  left: -300px;
  right: -300px;
  bottom: 0;
  background: #fafafa;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.search_block {
  top: 100%;
  margin-top: 14px;
  left: 0;
  right: 0;
  padding: 5px 0 15px;
  background: #fafafa;
}
.search_block:before {
  content: '';
  position: absolute;
  top: 0;
  left: -300px;
  right: -300px;
  bottom: 0;
  background: #fafafa;
}
}
@media only screen and (min-width: 1020px) {
.search_block {
  top: 0;
  left: 25%;
  height: 40px;
}
}
.search_opened .search_block {
display: block;
}
.search_block .f_el {
float: left;
}

@media only screen and (max-width: 1019px) {
.search_block_controls {
  float: right;
}
.search_block_controls .f_el {
  float: right;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.search_block_controls {
  float: right;
}
.search_block_controls .f_el {
  float: right;
}
}
@media only screen and (min-width: 1020px) {
.search_block_controls {
  position: absolute;
  top: 0;
  width: 50px;
  left: 100%;
  padding-left: 20px;
  overflow: hidden;
}
}

.menu_toggle_text {
position: absolute;
top: 100%;
right: 0;
left: 0;
color: #888;
font: 10px/14px "Open Sans Light", sans-serif;
text-align: center;
}

.text_center {
text-align: center;
}

.text_right {
text-align: right;
}

.text_left {
text-align: left;
}

.text_upper {
text-transform: uppercase;
}

.rect_1024 {
position: absolute;
top: 0;
left: 50%;
margin-left: -470px;
width: 940px;
bottom: 0;
border: 1px solid red;
z-index: 10;
pointer-events: none;
}

.rect_1024:after {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 470px;
width: 1px;
background: red;
}

.footer {
background: #15272f;
padding-top: 12px;
}
@media only screen and (max-width: 1019px) {
.footer {
  padding-bottom: 25px;
}
.footer .section_inner {
  padding: 0 12px;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.footer {
  padding-bottom: 25px;
}
.footer .section_inner {
  padding: 0 12px;
}
}
@media only screen and (min-width: 1020px) {
.footer {
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
}

.footer_menu {
margin-left: -12px;
}
@media only screen and (min-width: 1020px) {
.footer_menu {
  margin-left: -8px;
}
}

.f_menu_item {
margin-left: 12px;
}
@media only screen and (max-width: 1019px) {
.f_menu_item {
  margin-bottom: 4px;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.f_menu_item {
  margin-bottom: 4px;
}
}
@media only screen and (min-width: 1020px) {
.f_menu_item {
  float: left;
}
}

.f_menu_link {
color: #fff;
font: 10px/1 "Open Sans Light", sans-serif;
}

.footer_controls {
padding: 10px 0 0 2px;
}
@media only screen and (max-width: 1019px) {
.footer_controls {
  padding-bottom: 10px;
  overflow: hidden;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi), (max-device-width: 965px) {
.footer_controls {
  padding-bottom: 10px;
  overflow: hidden;
}
}

.footer_contacts {
padding-top: 12px;
color: #fff;
font: 12px/13px "Open Sans Light", sans-serif;
}
.footer_contacts p {
margin-bottom: 2px;
}
@media only screen and (min-width: 1020px) {
.footer_contacts {
  text-align: right;
  padding-top: 6px;
}
}

.dev_info {
height: 25px;
background: #aeaeae;
}
@media only screen and (min-width: 1020px) {
.dev_info {
  margin-top: 31px;
}
}

.no_text_selection {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.img_fl_r {
float: right;
margin: 0 0 15px;
}
.img_fl_r img {
display: block;
max-width: 100%;
}
@media only screen and (min-width: 1020px) {
.img_fl_r {
  margin: 0 0 10px 25px;
}
}

.img_bdr {
border: 1px solid #b6c1c6;
}

.img_fl_l {
float: left;
margin: 0 0 15px;
}
.img_fl_l img {
display: block;
max-width: 100%;
}
@media only screen and (min-width: 1020px) {
.img_fl_l {
  margin: 0 25px 10px 0;
}
}

.equipment_img {
max-width: 80px;
margin-right: 10px;
}
.equipment_img + .text_block {
margin-left: 90px;
}
@media only screen and (min-width: 1020px) {
.equipment_img {
  max-width: none;
}
.equipment_img + .text_block {
  margin-left: 0;
}
}

.text_center {
text-align: center;
}

.text_right {
text-align: right;
}

.text_left {
text-align: left;
}

.fz_16 {
font-size: 16px;
}

.color_orange {
color: #ff8403;
}

.middle_block {
display: inline-block;
vertical-align: middle;
line-height: normal;
}

/*# sourceMappingURL=main_global.css.map */

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
.popup .bg {
    background: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.popup .section_popup {
    width: 100%;
    position: absolute;
    top: 40px;
}

.popup .section_popup .form_holder {
    margin: 0 auto;
    width: 400px;
    background: white;
    position: relative;
    z-index: 1001;
    padding: 20px;
}

#resume_form {
    display: none;
}
#response_form {
    display: none;
}
.close_popup {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.table td {
    border: 1px solid #263e48;
    padding: 5px;
}
.table th {
    border: 1px solid #263e48;
    padding: 5px;
    background-color: white;
}

.section404 {
  margin: 100px 0 0 0;
}
.back_link {
  display: block;
  padding: 10px 0 0 0;
}

.sub_menu {
  display: none;
}
@media only screen and (max-width: 1019px) {
  .sub_menu {
    display: block;
    text-align: left;
    margin: 10px 0 10px 10px;
  }
  .sub_menu a, .sub_menu span {
    font-size: 13px;
    display: block;
    margin: 8px 0 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed Bold', sans-serif;
    color: #787777;
  }
  .sub_menu span {
    color: #ff8403;
  }
  .sub_menu a:hover {
    color: #ff8403;
    text-decoration: underline;
  }
  .sub_menu a:last-child {
    margin-bottom: 0;
  }
}